In [57]:
import pandas as pd
test = pd.read_csv('/Users/cguy/kelstuff/ga_summer_2016/jobScrape.csv')
test

,Unnamed: 0,index,Company,Job,Location,Salary,Sponsored
0,0,0,\n Enterprise Consulting Services,Data Scientist,"Chicago, IL",NaN,True
1,1,1,\n\n HERE,Senior or Mid-level Data Scientist,"Chicago, IL",NaN,True
2,2,2,"\n\n Anthem, Inc.",Data Scientist or Data Scientist Lead(Healthca...,"Chicago, IL",NaN,True
3,3,3,"\n\n\n Anthem, Inc.\n",Data Scientist or Data Scientist Lead(Healthca...,"Chicago, IL 60601 (Loop area)",NaN,False
4,4,4,\n\n\n Northwestern University\n,Research Data Analyst,"Chicago, IL",NaN,False
5,5,5,\n\n\n Kaplan\n,Senior Data Scientist,"Chicago, IL",NaN,False
6,6,6,\n\n Azavar\n,Analyst-Data Analysis,"Chicago, IL",NaN,False
7,7,7,\n\n\n Workbridge Associates\n,Mid-Level Data Scientist,"Chicago, IL","[<nobr>$105,000 a year</nobr>]",False
8,8,8,\n\n\n Teradata\n,Think Big Principal Data Scientist,"Chicago, IL 60661 (Near West Side area)",NaN,False
9,9,9,\n\n\n University of Chicago\n,Staff Scientist - Shuman Lab,"Chicago, IL",NaN,False
10,10,10,\n\n Eyeview\n,"Data Scientist, Campaign Insights","Chicago, IL",NaN,False
11,11,11,\n\n\n Chicago Cubs\n,"Assistant Director, Advanced Analytics","Chicago, IL",NaN,False
12,12,12,\n\n\n Workbridge Associates\n,Data Scientist,"Chicago, IL","[<nobr>$80,000 - $110,000 a year</nobr>]",False
13,13,13,\n\n Catalina Marketing,"Senior Analyst, Data Science","Chicago, IL",NaN,True
14,14,14,\n\n Gallup,Data Scientist – Predictive Analytics,"Chicago, IL",NaN,True
15,15,0,\n\n Gallup,Data Scientist – Predictive Analytics,"Chicago, IL",NaN,True
16,16,1,\n\n HERE,Senior or Mid-level Data Scientist,"Chicago, IL",NaN,True
17,17,2,\n\n SpotHero\n,Data Engineer,"Chicago, IL",NaN,False
18,18,3,\n\n Technocraft solutions LLc\n,Data Scientist (USC/GC only),"Chicago, IL",NaN,False
19,19,4,\n\n\n The Boston Consulting Group\n,Analytics Manager - GeoAnalytics,"Chicago, IL 60654 (Loop area)",NaN,False
20,20,5,\n\n Raise Marketplace Inc.\n,Data Analyst,"Chicago, IL 60603 (Loop area)",NaN,False
21,21,6,\n\n Sg2\n,Research Associate (Patient Flow Analyst),"Skokie, IL 60077",NaN,False
22,22,7,\n\n Etech Hi Inc.\n,Sr. Statistician,"Chicago, IL","[<nobr>$85,000 a year</nobr>]",False
23,23,8,\n\n Enterprise Consulting Services\n,Data Scientist,"Chicago, IL 60611 (Near North Side area)",NaN,False
24,24,9,\n\n\n Northwestern University\n,Research Analyst 1,"Evanston, IL",NaN,False
25,25,10,\n\n OptionsHouse\n,Data Scientist,"Chicago, IL 60604 (Loop area)",NaN,False
26,26,11,\n\n\n Mintel\n,Custom Research Analyst,"Chicago, IL 60606 (Loop area)",NaN,False
27,27,12,"\n\n Anthem, Inc.",Data Scientist or Data Scientist Lead(Healthca...,"Chicago, IL",NaN,True
28,28,13,\n\n Catalina Marketing,"Senior Analyst, Data Science","Chicago, IL",NaN,True
29,29,14,\n Enterprise Consulting Services,Data Scientist,"Chicago, IL",NaN,True
...,...,...,...,...,...,...,...
863,863,0,\n\n Main Street Hub,Data Scientist,"Austin, TX",NaN,True
864,864,1,\n Sense Corp,Data Scientist,"Austin, TX",NaN,True
865,865,2,\n\n\n City of Austin\n,"MuniProg, Research Analyst (Temp) Paraprofessi...","Austin, TX",[<nobr>$21.31 - $27.06 an hour</nobr>],False
866,866,3,\n\n\n NVIDIA\n,Research Scientist for Computer Vision / Machi...,"Austin, TX",NaN,False
867,867,4,\n\n MaxPoint\n,Senior Data Scientist - Econometrics,"Austin, TX 78759 (Arboretum area)",NaN,False
868,868,5,\n\n\n NVIDIA\n,Machine Learning for VLSI CAD Engineer,"Austin, TX",NaN,False
869,869,6,"\n\n Signature Science, LLC\n",Bioinformatics Specialist,"Austin, TX 78759 (Arboretum area)",NaN,False
870,870,7,\n\n BlackLocus\n,Software Engineer,"Austin, TX 78701 (Downtown area)",NaN,False
871,871,8,\n\n\n CDK Global\n,Business Security Officer,"Austin, TX",NaN,False
872,872,9,\n\n\n University of Texas at Austin\n,Research Associate - Array Processing Scientist,"Austin, TX","[<nobr>$7,083 - $9,166 a month</nobr>]",False
873,873,10,\n\n Spredfast\n,Research and Insights Senior Analyst,"Austin, TX 78701 (Downtown area)",NaN,False
874,874,11,\n\n\n Thermo Fisher Scientific\n,Application Scientist,"Austin, TX",NaN,False
875,875,12,\n\n Indeed,Data Engineer,"Austin, TX",NaN,True
876,876,13,"\n\n RetailMeNot, Inc.",Sr. Data Scientist,"Austin, TX",NaN,True
877,877,14,\n\n Indeed,Data Scientist,"Austin, TX",NaN,True
878,878,0,\n\n Thermo Fisher Scientific,Application Scientist,"Austin, TX",NaN,True
879,879,1,\n\n Amazon,"Software Development Engineer, Big Data","Austin, TX",NaN,True
880,880,2,"\n\n TEL Technology Center, America, Inc.\n",Scientist,"Austin, TX",NaN,False
881,881,3,\n\n\n Precision For Value\n,"Research Scientist, Advanced Modeling","Austin, TX",NaN,False
882,882,4,\n\n\n HomeAway\n,Research Data Scientist,"Austin, TX 78704 (South Lamar-South Congress a...",NaN,False
883,883,5,\n\n\n HomeAway\n,Sr. Hadoop Developer,"Austin, TX 78704 (South Lamar-South Congress a...",NaN,False
884,884,6,\n\n Asuragen\n,Research Scientist,"Austin, TX",NaN,False
885,885,7,\n\n\n Dept of State Health Services\n,Linkage Specialist,"Austin, TX","[<nobr>$4,599 - $5,333 a month</nobr>]",False
886,886,8,\n\n\n Natera\n,Quality Control Development Scientist,"Austin, TX 78731",NaN,False
887,887,9,"\n\n\n Samsung Austin Semiconductor, LLC\n",Data Scientist,"Austin, TX 78754",NaN,False
888,888,10,\n\n\n Samsung\n,Data Scientist,"Austin, TX 78754",NaN,False
889,889,11,\n\n Galvanize\n,"Associate Instructor, Data Scientist","Austin, TX",NaN,False
890,890,12,\n\n Indeed,Data Scientist,"Austin, TX",NaN,True
891,891,13,\n\n EMD,Senior Scientist,"Round Rock, TX",NaN,True
892,892,14,"\n\n RetailMeNot, Inc.",Sr. Data Scientist,"Austin, TX",NaN,True

In [58]:
test.drop(['index','Unnamed: 0'], axis=1, inplace=True)

    -------remove '\n'
    -remove white spaces
    -------convert types as needed
    -parse job title data
    -------filter out sponsored
    -fix salary

    CSV save

    -get median salary and create a high/low column
    -------fix location?
    -senior/manager in job title

In [59]:
test['Company'].apply(lambda x: str(x))
test['Company'].apply(lambda x: type(x))

0      <type 'str'>
1      <type 'str'>
2      <type 'str'>
3      <type 'str'>
4      <type 'str'>
5      <type 'str'>
6      <type 'str'>
7      <type 'str'>
8      <type 'str'>
9      <type 'str'>
10     <type 'str'>
11     <type 'str'>
12     <type 'str'>
13     <type 'str'>
14     <type 'str'>
15     <type 'str'>
16     <type 'str'>
17     <type 'str'>
18     <type 'str'>
19     <type 'str'>
20     <type 'str'>
21     <type 'str'>
22     <type 'str'>
23     <type 'str'>
24     <type 'str'>
25     <type 'str'>
26     <type 'str'>
27     <type 'str'>
28     <type 'str'>
29     <type 'str'>
           ...
863    <type 'str'>
864    <type 'str'>
865    <type 'str'>
866    <type 'str'>
867    <type 'str'>
868    <type 'str'>
869    <type 'str'>
870    <type 'str'>
871    <type 'str'>
872    <type 'str'>
873    <type 'str'>
874    <type 'str'>
875    <type 'str'>
876    <type 'str'>
877    <type 'str'>
878    <type 'str'>
879    <type 'str'>
880    <type 'str'>
881    <type 'str'>
882    <type 'str'>
883    <type 'str'>
884    <type 'str'>
885    <type 'str'>
886    <type 'str'>
887    <type 'str'>
888    <type 'str'>
889    <type 'str'>
890    <type 'str'>
891    <type 'str'>
892    <type 'str'>
Name: Company, dtype: object

In [60]:
index = 0
for comp in test['Company']:
    test['Company'][index] = comp.replace("\n", "")
    index += 1
test


# ''.join([ch if ch != '\n' else '' for ch in text])

/Users/cguy/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

,Company,Job,Location,Salary,Sponsored
0,Enterprise Consulting Services,Data Scientist,"Chicago, IL",NaN,True
1,HERE,Senior or Mid-level Data Scientist,"Chicago, IL",NaN,True
2,"Anthem, Inc.",Data Scientist or Data Scientist Lead(Healthca...,"Chicago, IL",NaN,True
3,"Anthem, Inc.",Data Scientist or Data Scientist Lead(Healthca...,"Chicago, IL 60601 (Loop area)",NaN,False
4,Northwestern University,Research Data Analyst,"Chicago, IL",NaN,False
5,Kaplan,Senior Data Scientist,"Chicago, IL",NaN,False
6,Azavar,Analyst-Data Analysis,"Chicago, IL",NaN,False
7,Workbridge Associates,Mid-Level Data Scientist,"Chicago, IL","[<nobr>$105,000 a year</nobr>]",False
8,Teradata,Think Big Principal Data Scientist,"Chicago, IL 60661 (Near West Side area)",NaN,False
9,University of Chicago,Staff Scientist - Shuman Lab,"Chicago, IL",NaN,False
10,Eyeview,"Data Scientist, Campaign Insights","Chicago, IL",NaN,False
11,Chicago Cubs,"Assistant Director, Advanced Analytics","Chicago, IL",NaN,False
12,Workbridge Associates,Data Scientist,"Chicago, IL","[<nobr>$80,000 - $110,000 a year</nobr>]",False
13,Catalina Marketing,"Senior Analyst, Data Science","Chicago, IL",NaN,True
14,Gallup,Data Scientist – Predictive Analytics,"Chicago, IL",NaN,True
15,Gallup,Data Scientist – Predictive Analytics,"Chicago, IL",NaN,True
16,HERE,Senior or Mid-level Data Scientist,"Chicago, IL",NaN,True
17,SpotHero,Data Engineer,"Chicago, IL",NaN,False
18,Technocraft solutions LLc,Data Scientist (USC/GC only),"Chicago, IL",NaN,False
19,The Boston Consulting Group,Analytics Manager - GeoAnalytics,"Chicago, IL 60654 (Loop area)",NaN,False
20,Raise Marketplace Inc.,Data Analyst,"Chicago, IL 60603 (Loop area)",NaN,False
21,Sg2,Research Associate (Patient Flow Analyst),"Skokie, IL 60077",NaN,False
22,Etech Hi Inc.,Sr. Statistician,"Chicago, IL","[<nobr>$85,000 a year</nobr>]",False
23,Enterprise Consulting Services,Data Scientist,"Chicago, IL 60611 (Near North Side area)",NaN,False
24,Northwestern University,Research Analyst 1,"Evanston, IL",NaN,False
25,OptionsHouse,Data Scientist,"Chicago, IL 60604 (Loop area)",NaN,False
26,Mintel,Custom Research Analyst,"Chicago, IL 60606 (Loop area)",NaN,False
27,"Anthem, Inc.",Data Scientist or Data Scientist Lead(Healthca...,"Chicago, IL",NaN,True
28,Catalina Marketing,"Senior Analyst, Data Science","Chicago, IL",NaN,True
29,Enterprise Consulting Services,Data Scientist,"Chicago, IL",NaN,True
...,...,...,...,...,...
863,Main Street Hub,Data Scientist,"Austin, TX",NaN,True
864,Sense Corp,Data Scientist,"Austin, TX",NaN,True
865,City of Austin,"MuniProg, Research Analyst (Temp) Paraprofessi...","Austin, TX",[<nobr>$21.31 - $27.06 an hour</nobr>],False
866,NVIDIA,Research Scientist for Computer Vision / Machi...,"Austin, TX",NaN,False
867,MaxPoint,Senior Data Scientist - Econometrics,"Austin, TX 78759 (Arboretum area)",NaN,False
868,NVIDIA,Machine Learning for VLSI CAD Engineer,"Austin, TX",NaN,False
869,"Signature Science, LLC",Bioinformatics Specialist,"Austin, TX 78759 (Arboretum area)",NaN,False
870,BlackLocus,Software Engineer,"Austin, TX 78701 (Downtown area)",NaN,False
871,CDK Global,Business Security Officer,"Austin, TX",NaN,False
872,University of Texas at Austin,Research Associate - Array Processing Scientist,"Austin, TX","[<nobr>$7,083 - $9,166 a month</nobr>]",False
873,Spredfast,Research and Insights Senior Analyst,"Austin, TX 78701 (Downtown area)",NaN,False
874,Thermo Fisher Scientific,Application Scientist,"Austin, TX",NaN,False
875,Indeed,Data Engineer,"Austin, TX",NaN,True
876,"RetailMeNot, Inc.",Sr. Data Scientist,"Austin, TX",NaN,True
877,Indeed,Data Scientist,"Austin, TX",NaN,True
878,Thermo Fisher Scientific,Application Scientist,"Austin, TX",NaN,True
879,Amazon,"Software Development Engineer, Big Data","Austin, TX",NaN,True
880,"TEL Technology Center, America, Inc.",Scientist,"Austin, TX",NaN,False
881,Precision For Value,"Research Scientist, Advanced Modeling","Austin, TX",NaN,False
882,HomeAway,Research Data Scientist,"Austin, TX 78704 (South Lamar-South Congress a...",NaN,False
883,HomeAway,Sr. Hadoop Developer,"Austin, TX 78704 (South Lamar-South Congress a...",NaN,False
884,Asuragen,Research Scientist,"Austin, TX",NaN,False
885,Dept of State Health Services,Linkage Specialist,"Austin, TX","[<nobr>$4,599 - $5,333 a month</nobr>]",False
886,Natera,Quality Control Development Scientist,"Austin, TX 78731",NaN,False
887,"Samsung Austin Semiconductor, LLC",Data Scientist,"Austin, TX 78754",NaN,False
888,Samsung,Data Scientist,"Austin, TX 78754",NaN,False
889,Galvanize,"Associate Instructor, Data Scientist","Austin, TX",NaN,False
890,Indeed,Data Scientist,"Austin, TX",NaN,True
891,EMD,Senior Scientist,"Round Rock, TX",NaN,True
892,"RetailMeNot, Inc.",Sr. Data Scientist,"Austin, TX",NaN,True

In [61]:
test['Company']

0                Enterprise Consulting Services
1                                          HERE
2                                  Anthem, Inc.
3                                  Anthem, Inc.
4                       Northwestern University
5                                        Kaplan
6                                        Azavar
7                         Workbridge Associates
8                                      Teradata
9                         University of Chicago
10                                      Eyeview
11                                 Chicago Cubs
12                        Workbridge Associates
13                           Catalina Marketing
14                                       Gallup
15                                       Gallup
16                                         HERE
17                                     SpotHero
18                    Technocraft solutions LLc
19                  The Boston Consulting Group
20                       Raise Marketplace Inc.
21                                          Sg2
22                                Etech Hi Inc.
23               Enterprise Consulting Services
24                      Northwestern University
25                                 OptionsHouse
26                                       Mintel
27                                 Anthem, Inc.
28                           Catalina Marketing
29               Enterprise Consulting Services
                         ...
863                             Main Street Hub
864                                  Sense Corp
865                              City of Austin
866                                      NVIDIA
867                                    MaxPoint
868                                      NVIDIA
869                      Signature Science, LLC
870                                  BlackLocus
871                                  CDK Global
872               University of Texas at Austin
873                                   Spredfast
874                    Thermo Fisher Scientific
875                                      Indeed
876                           RetailMeNot, Inc.
877                                      Indeed
878                    Thermo Fisher Scientific
879                                      Amazon
880        TEL Technology Center, America, Inc.
881                         Precision For Value
882                                    HomeAway
883                                    HomeAway
884                                    Asuragen
885               Dept of State Health Services
886                                      Natera
887           Samsung Austin Semiconductor, LLC
888                                     Samsung
889                                   Galvanize
890                                      Indeed
891                                         EMD
892                           RetailMeNot, Inc.
Name: Company, dtype: object

In [62]:
#filter out sponsored

test = test.loc[test['Sponsored'] != True]
test = test.reset_index()
test

,index,Company,Job,Location,Salary,Sponsored
0,3,"Anthem, Inc.",Data Scientist or Data Scientist Lead(Healthca...,"Chicago, IL 60601 (Loop area)",NaN,False
1,4,Northwestern University,Research Data Analyst,"Chicago, IL",NaN,False
2,5,Kaplan,Senior Data Scientist,"Chicago, IL",NaN,False
3,6,Azavar,Analyst-Data Analysis,"Chicago, IL",NaN,False
4,7,Workbridge Associates,Mid-Level Data Scientist,"Chicago, IL","[<nobr>$105,000 a year</nobr>]",False
5,8,Teradata,Think Big Principal Data Scientist,"Chicago, IL 60661 (Near West Side area)",NaN,False
6,9,University of Chicago,Staff Scientist - Shuman Lab,"Chicago, IL",NaN,False
7,10,Eyeview,"Data Scientist, Campaign Insights","Chicago, IL",NaN,False
8,11,Chicago Cubs,"Assistant Director, Advanced Analytics","Chicago, IL",NaN,False
9,12,Workbridge Associates,Data Scientist,"Chicago, IL","[<nobr>$80,000 - $110,000 a year</nobr>]",False
10,17,SpotHero,Data Engineer,"Chicago, IL",NaN,False
11,18,Technocraft solutions LLc,Data Scientist (USC/GC only),"Chicago, IL",NaN,False
12,19,The Boston Consulting Group,Analytics Manager - GeoAnalytics,"Chicago, IL 60654 (Loop area)",NaN,False
13,20,Raise Marketplace Inc.,Data Analyst,"Chicago, IL 60603 (Loop area)",NaN,False
14,21,Sg2,Research Associate (Patient Flow Analyst),"Skokie, IL 60077",NaN,False
15,22,Etech Hi Inc.,Sr. Statistician,"Chicago, IL","[<nobr>$85,000 a year</nobr>]",False
16,23,Enterprise Consulting Services,Data Scientist,"Chicago, IL 60611 (Near North Side area)",NaN,False
17,24,Northwestern University,Research Analyst 1,"Evanston, IL",NaN,False
18,25,OptionsHouse,Data Scientist,"Chicago, IL 60604 (Loop area)",NaN,False
19,26,Mintel,Custom Research Analyst,"Chicago, IL 60606 (Loop area)",NaN,False
20,32,PeopleAdmin,Research Scientist,"Chicago, IL",NaN,False
21,33,Mintel,Research Analyst,"Chicago, IL 60606 (Loop area)",NaN,False
22,34,The Marketing Arm,Associate Research Analyst,"Chicago, IL",NaN,False
23,35,The Boston Consulting Group,Senior Knowledge Analyst - Data Engineering,"Chicago, IL 60654 (Loop area)",NaN,False
24,36,"Orzota, Inc.",R Data Scientist with Big Data Background,"Chicago, IL",NaN,False
25,37,Northwestern University,Statistical Analyst,"Chicago, IL",NaN,False
26,38,Teradata,"Think Big Senior Data Scientist, multiple citi...","Chicago, IL 60661 (Near West Side area)",NaN,False
27,39,Reed Elsevier,Sr Statistical Modeler,"Chicago, IL",NaN,False
28,40,Purohit Navigation,Market Research Analyst,"Chicago, IL 60606 (Loop area)",NaN,False
29,41,LexisNexis,Sr Statistical Modeler,"Chicago, IL",NaN,False
...,...,...,...,...,...,...
534,850,"RetailMeNot, Inc.",Sr. Data Scientist,"Austin, TX",NaN,False
535,851,Revionics,Sr. Optimization Scientist,"Austin, TX",NaN,False
536,852,SmarterHQ,Sr. Software Developer,"Austin, TX",NaN,False
537,853,Signature Science,Bioinformatics Specialist,"Austin, TX",NaN,False
538,854,Clinical Pathology Laboratories,Quality Improvement Director,"Austin, TX",NaN,False
539,855,Alcatel-Lucent,Software Developer Co-op,"Austin, TX",NaN,False
540,856,Spiceworks,"Director, Marketing Sciences & Advanced Analytics","Austin, TX",NaN,False
541,857,MaxPoint,Senior Data Scientist - Signal Processing,"Austin, TX 78759 (Arboretum area)",NaN,False
542,858,Dell,Full Stack Developer,"Austin, TX 73301 (St Edwards area)",NaN,False
543,859,IBM,Machine Learning R&D Engineer,"Austin, TX",NaN,False
544,865,City of Austin,"MuniProg, Research Analyst (Temp) Paraprofessi...","Austin, TX",[<nobr>$21.31 - $27.06 an hour</nobr>],False
545,866,NVIDIA,Research Scientist for Computer Vision / Machi...,"Austin, TX",NaN,False
546,867,MaxPoint,Senior Data Scientist - Econometrics,"Austin, TX 78759 (Arboretum area)",NaN,False
547,868,NVIDIA,Machine Learning for VLSI CAD Engineer,"Austin, TX",NaN,False
548,869,"Signature Science, LLC",Bioinformatics Specialist,"Austin, TX 78759 (Arboretum area)",NaN,False
549,870,BlackLocus,Software Engineer,"Austin, TX 78701 (Downtown area)",NaN,False
550,871,CDK Global,Business Security Officer,"Austin, TX",NaN,False
551,872,University of Texas at Austin,Research Associate - Array Processing Scientist,"Austin, TX","[<nobr>$7,083 - $9,166 a month</nobr>]",False
552,873,Spredfast,Research and Insights Senior Analyst,"Austin, TX 78701 (Downtown area)",NaN,False
553,874,Thermo Fisher Scientific,Application Scientist,"Austin, TX",NaN,False
554,880,"TEL Technology Center, America, Inc.",Scientist,"Austin, TX",NaN,False
555,881,Precision For Value,"Research Scientist, Advanced Modeling","Austin, TX",NaN,False
556,882,HomeAway,Research Data Scientist,"Austin, TX 78704 (South Lamar-South Congress a...",NaN,False
557,883,HomeAway,Sr. Hadoop Developer,"Austin, TX 78704 (South Lamar-South Congress a...",NaN,False
558,884,Asuragen,Research Scientist,"Austin, TX",NaN,False
559,885,Dept of State Health Services,Linkage Specialist,"Austin, TX","[<nobr>$4,599 - $5,333 a month</nobr>]",False
560,886,Natera,Quality Control Development Scientist,"Austin, TX 78731",NaN,False
561,887,"Samsung Austin Semiconductor, LLC",Data Scientist,"Austin, TX 78754",NaN,False
562,888,Samsung,Data Scientist,"Austin, TX 78754",NaN,False
563,889,Galvanize,"Associate Instructor, Data Scientist","Austin, TX",NaN,False

In [64]:
test.drop(['index'], axis=1, inplace=True)
test

,Company,Job,Location,Salary,Sponsored
0,"Anthem, Inc.",Data Scientist or Data Scientist Lead(Healthca...,"Chicago, IL 60601 (Loop area)",NaN,False
1,Northwestern University,Research Data Analyst,"Chicago, IL",NaN,False
2,Kaplan,Senior Data Scientist,"Chicago, IL",NaN,False
3,Azavar,Analyst-Data Analysis,"Chicago, IL",NaN,False
4,Workbridge Associates,Mid-Level Data Scientist,"Chicago, IL","[<nobr>$105,000 a year</nobr>]",False
5,Teradata,Think Big Principal Data Scientist,"Chicago, IL 60661 (Near West Side area)",NaN,False
6,University of Chicago,Staff Scientist - Shuman Lab,"Chicago, IL",NaN,False
7,Eyeview,"Data Scientist, Campaign Insights","Chicago, IL",NaN,False
8,Chicago Cubs,"Assistant Director, Advanced Analytics","Chicago, IL",NaN,False
9,Workbridge Associates,Data Scientist,"Chicago, IL","[<nobr>$80,000 - $110,000 a year</nobr>]",False
10,SpotHero,Data Engineer,"Chicago, IL",NaN,False
11,Technocraft solutions LLc,Data Scientist (USC/GC only),"Chicago, IL",NaN,False
12,The Boston Consulting Group,Analytics Manager - GeoAnalytics,"Chicago, IL 60654 (Loop area)",NaN,False
13,Raise Marketplace Inc.,Data Analyst,"Chicago, IL 60603 (Loop area)",NaN,False
14,Sg2,Research Associate (Patient Flow Analyst),"Skokie, IL 60077",NaN,False
15,Etech Hi Inc.,Sr. Statistician,"Chicago, IL","[<nobr>$85,000 a year</nobr>]",False
16,Enterprise Consulting Services,Data Scientist,"Chicago, IL 60611 (Near North Side area)",NaN,False
17,Northwestern University,Research Analyst 1,"Evanston, IL",NaN,False
18,OptionsHouse,Data Scientist,"Chicago, IL 60604 (Loop area)",NaN,False
19,Mintel,Custom Research Analyst,"Chicago, IL 60606 (Loop area)",NaN,False
20,PeopleAdmin,Research Scientist,"Chicago, IL",NaN,False
21,Mintel,Research Analyst,"Chicago, IL 60606 (Loop area)",NaN,False
22,The Marketing Arm,Associate Research Analyst,"Chicago, IL",NaN,False
23,The Boston Consulting Group,Senior Knowledge Analyst - Data Engineering,"Chicago, IL 60654 (Loop area)",NaN,False
24,"Orzota, Inc.",R Data Scientist with Big Data Background,"Chicago, IL",NaN,False
25,Northwestern University,Statistical Analyst,"Chicago, IL",NaN,False
26,Teradata,"Think Big Senior Data Scientist, multiple citi...","Chicago, IL 60661 (Near West Side area)",NaN,False
27,Reed Elsevier,Sr Statistical Modeler,"Chicago, IL",NaN,False
28,Purohit Navigation,Market Research Analyst,"Chicago, IL 60606 (Loop area)",NaN,False
29,LexisNexis,Sr Statistical Modeler,"Chicago, IL",NaN,False
...,...,...,...,...,...
534,"RetailMeNot, Inc.",Sr. Data Scientist,"Austin, TX",NaN,False
535,Revionics,Sr. Optimization Scientist,"Austin, TX",NaN,False
536,SmarterHQ,Sr. Software Developer,"Austin, TX",NaN,False
537,Signature Science,Bioinformatics Specialist,"Austin, TX",NaN,False
538,Clinical Pathology Laboratories,Quality Improvement Director,"Austin, TX",NaN,False
539,Alcatel-Lucent,Software Developer Co-op,"Austin, TX",NaN,False
540,Spiceworks,"Director, Marketing Sciences & Advanced Analytics","Austin, TX",NaN,False
541,MaxPoint,Senior Data Scientist - Signal Processing,"Austin, TX 78759 (Arboretum area)",NaN,False
542,Dell,Full Stack Developer,"Austin, TX 73301 (St Edwards area)",NaN,False
543,IBM,Machine Learning R&D Engineer,"Austin, TX",NaN,False
544,City of Austin,"MuniProg, Research Analyst (Temp) Paraprofessi...","Austin, TX",[<nobr>$21.31 - $27.06 an hour</nobr>],False
545,NVIDIA,Research Scientist for Computer Vision / Machi...,"Austin, TX",NaN,False
546,MaxPoint,Senior Data Scientist - Econometrics,"Austin, TX 78759 (Arboretum area)",NaN,False
547,NVIDIA,Machine Learning for VLSI CAD Engineer,"Austin, TX",NaN,False
548,"Signature Science, LLC",Bioinformatics Specialist,"Austin, TX 78759 (Arboretum area)",NaN,False
549,BlackLocus,Software Engineer,"Austin, TX 78701 (Downtown area)",NaN,False
550,CDK Global,Business Security Officer,"Austin, TX",NaN,False
551,University of Texas at Austin,Research Associate - Array Processing Scientist,"Austin, TX","[<nobr>$7,083 - $9,166 a month</nobr>]",False
552,Spredfast,Research and Insights Senior Analyst,"Austin, TX 78701 (Downtown area)",NaN,False
553,Thermo Fisher Scientific,Application Scientist,"Austin, TX",NaN,False
554,"TEL Technology Center, America, Inc.",Scientist,"Austin, TX",NaN,False
555,Precision For Value,"Research Scientist, Advanced Modeling","Austin, TX",NaN,False
556,HomeAway,Research Data Scientist,"Austin, TX 78704 (South Lamar-South Congress a...",NaN,False
557,HomeAway,Sr. Hadoop Developer,"Austin, TX 78704 (South Lamar-South Congress a...",NaN,False
558,Asuragen,Research Scientist,"Austin, TX",NaN,False
559,Dept of State Health Services,Linkage Specialist,"Austin, TX","[<nobr>$4,599 - $5,333 a month</nobr>]",False
560,Natera,Quality Control Development Scientist,"Austin, TX 78731",NaN,False
561,"Samsung Austin Semiconductor, LLC",Data Scientist,"Austin, TX 78754",NaN,False
562,Samsung,Data Scientist,"Austin, TX 78754",NaN,False
563,Galvanize,"Associate Instructor, Data Scientist","Austin, TX",NaN,False

In [65]:
test['Job'].apply(lambda x: str(x))
test['Job'].apply(lambda x: type(x))

0      <type 'str'>
1      <type 'str'>
2      <type 'str'>
3      <type 'str'>
4      <type 'str'>
5      <type 'str'>
6      <type 'str'>
7      <type 'str'>
8      <type 'str'>
9      <type 'str'>
10     <type 'str'>
11     <type 'str'>
12     <type 'str'>
13     <type 'str'>
14     <type 'str'>
15     <type 'str'>
16     <type 'str'>
17     <type 'str'>
18     <type 'str'>
19     <type 'str'>
20     <type 'str'>
21     <type 'str'>
22     <type 'str'>
23     <type 'str'>
24     <type 'str'>
25     <type 'str'>
26     <type 'str'>
27     <type 'str'>
28     <type 'str'>
29     <type 'str'>
           ...
534    <type 'str'>
535    <type 'str'>
536    <type 'str'>
537    <type 'str'>
538    <type 'str'>
539    <type 'str'>
540    <type 'str'>
541    <type 'str'>
542    <type 'str'>
543    <type 'str'>
544    <type 'str'>
545    <type 'str'>
546    <type 'str'>
547    <type 'str'>
548    <type 'str'>
549    <type 'str'>
550    <type 'str'>
551    <type 'str'>
552    <type 'str'>
553    <type 'str'>
554    <type 'str'>
555    <type 'str'>
556    <type 'str'>
557    <type 'str'>
558    <type 'str'>
559    <type 'str'>
560    <type 'str'>
561    <type 'str'>
562    <type 'str'>
563    <type 'str'>
Name: Job, dtype: object

In [66]:
test['Location'].apply(lambda x: str(x))
test['Location'].apply(lambda x: type(x))

0      <type 'str'>
1      <type 'str'>
2      <type 'str'>
3      <type 'str'>
4      <type 'str'>
5      <type 'str'>
6      <type 'str'>
7      <type 'str'>
8      <type 'str'>
9      <type 'str'>
10     <type 'str'>
11     <type 'str'>
12     <type 'str'>
13     <type 'str'>
14     <type 'str'>
15     <type 'str'>
16     <type 'str'>
17     <type 'str'>
18     <type 'str'>
19     <type 'str'>
20     <type 'str'>
21     <type 'str'>
22     <type 'str'>
23     <type 'str'>
24     <type 'str'>
25     <type 'str'>
26     <type 'str'>
27     <type 'str'>
28     <type 'str'>
29     <type 'str'>
           ...
534    <type 'str'>
535    <type 'str'>
536    <type 'str'>
537    <type 'str'>
538    <type 'str'>
539    <type 'str'>
540    <type 'str'>
541    <type 'str'>
542    <type 'str'>
543    <type 'str'>
544    <type 'str'>
545    <type 'str'>
546    <type 'str'>
547    <type 'str'>
548    <type 'str'>
549    <type 'str'>
550    <type 'str'>
551    <type 'str'>
552    <type 'str'>
553    <type 'str'>
554    <type 'str'>
555    <type 'str'>
556    <type 'str'>
557    <type 'str'>
558    <type 'str'>
559    <type 'str'>
560    <type 'str'>
561    <type 'str'>
562    <type 'str'>
563    <type 'str'>
Name: Location, dtype: object

In [67]:
test['Salary'].apply(lambda x: str(x))
test['Salary'].apply(lambda x: type(x))

0      <type 'float'>
1      <type 'float'>
2      <type 'float'>
3      <type 'float'>
4        <type 'str'>
5      <type 'float'>
6      <type 'float'>
7      <type 'float'>
8      <type 'float'>
9        <type 'str'>
10     <type 'float'>
11     <type 'float'>
12     <type 'float'>
13     <type 'float'>
14     <type 'float'>
15       <type 'str'>
16     <type 'float'>
17     <type 'float'>
18     <type 'float'>
19     <type 'float'>
20     <type 'float'>
21     <type 'float'>
22     <type 'float'>
23     <type 'float'>
24     <type 'float'>
25     <type 'float'>
26     <type 'float'>
27     <type 'float'>
28     <type 'float'>
29     <type 'float'>
            ...
534    <type 'float'>
535    <type 'float'>
536    <type 'float'>
537    <type 'float'>
538    <type 'float'>
539    <type 'float'>
540    <type 'float'>
541    <type 'float'>
542    <type 'float'>
543    <type 'float'>
544      <type 'str'>
545    <type 'float'>
546    <type 'float'>
547    <type 'float'>
548    <type 'float'>
549    <type 'float'>
550    <type 'float'>
551      <type 'str'>
552    <type 'float'>
553    <type 'float'>
554    <type 'float'>
555    <type 'float'>
556    <type 'float'>
557    <type 'float'>
558    <type 'float'>
559      <type 'str'>
560    <type 'float'>
561    <type 'float'>
562    <type 'float'>
563    <type 'float'>
Name: Salary, dtype: object

In [68]:
index = 0
for sal in test['Salary']:
    if '[<nobr>' in sal:
        test['Salary'][index] = sal.replace("[<nobr>", "")
test

TypeError: argument of type 'float' is not iterable