In [158]:
import pandas as pd
import seaborn as sns
import numpy as np
%matplotlib inline
from matplotlib import pyplot as plt
import math
import psycopg2 as psy
from sqlalchemy import create_engine
from sqlalchemy.engine.url import URL

### Raw Data Source:

Raw data obtained from the National Youth in Transition Database (NYTD). See README for more information on sources.

##### Starting raw data sets:

###### A) Services and demographic data for Fiscal Years (FY) 2011 - 2014 (Baseline populations for each FY)
        
- Cross-sectional data collected over 8 six-month-periods

- For all foster youth receiving independent living services funded through CFCIP for each fiscal year

- Data collected from all 50 states (my data excludes data from Connecticut) and D.C. and Puerto Rico

- Total of 675645 rows, and 31 columns
        
###### B) Outcomes data for Wave 1 and Wave 2 of Cohort 1
            
- Cohort 1 consists of foster youth who received services in FY 2011 AND participated in surveys

- Longitudinal data collected, 2 follow-up periods (every 2 years)

- About 5% of baseline population (Dataset A, FY 2011)

- Wave 1 = Outcomes Survey collected in FY 2011, within 45 days of youth's 17th birthday, from 49 states and D.C. and Puerto Rico (data excludes data from Connecticut) 

- Wave 2 = Outcomes Follow-Up Survey collected in FY 2013, within 45 days of youth's 19th birthday, from 48 states and D.C. (data excludes data from Connecticut, New York and Puerto Rico)

- Missing: Wave 3 = Outcomes Follow-Up Survey collected in FY 2015, within 45 days of youth's 21st birthday

- Total of 22811 rows, and 48 columns
        
###### C) Outcomes data for Wave 1 of Cohort 2
            
- Cohort 2 consists of foster youth who received services in FY 2014 AND participated in surveys

- Longitudinal data collected, 2 follow-up periods (every 2 years)

- About 5% of baseline population (Dataset A, FY 2014)

- Data collected from 49 states and D.C. and Puerto Rico (data excludes data from Connecticut) 

- Wave 1 = Outcomes Survey collected in FY 2014, within 45 days of youth's 17th birthday

- Missing: Wave 2 = Outcomes Follow-Up Survey to be collected in FY 2016, within 45 days of youth's 21st birthday

- Missing: Wave 3 = Outcomes Follow-Up Survey to be collected in FY 2018, within 45 days of youth's 21st birthday

- Total of 23775 rows, and 49 columns

__________________________________________________________________________________________
### Data Cleaning and Munging Plan:
    
1) Load 3 starting datasets () into pandas dataframe for each

- As described in cell above: Dataset A, Dataset B, Dataset C

2) Create dataframe for Cohort 1 -- Baseline Population Dataset:

- Services and demographic data for foster youth in FY 2011 from dataset A 

- Outcomes data for Wave 1 Participants from dataset B

- Initial Data Review (look at tables, dtypes, etc.)

- Clean data:
    
    - Unfortunately, several states have badly encoded unique ID values, which prevents me from tracking those 
      records. Need to drop data rows from the following states due to data quality issue:
      ["HI", "IN", "KY", "MS", "OR", "TX", "TN"]
      
    - Remove duplicates (based on unique IDs)
    
    - Missing Data?
        
    - Save dataset as CSV file and as table in local postgreSQL database
    
3) Create dataframe for Cohort 1 -- Wave 2 Outcomes Dataset:

- Outcomes data for Wave 2 Participants from dataset B

- Only include foster youth who completed surveys in Wave 2

- Clean data:

    - Drop rows that have missing values in multiple columns (>10)

    - Convert data type of columns AgeMP, EduLevlSv, RaceDcl, RaceUnkn to int

    - Convert data types of columns RepDates_outcomes, RepDates_services and DOB to datetime

    - Identify categorical variable columns that may need to be dummified for later analysis

    - Get rid of special characters (that are not UTF-8) in column HighEdCert
    
    - Remove duplicates (based on unique IDs)

- Load cleaned dataset into local postgres DB

3) Create dataframe for Cohort 2 -- Baseline Population Dataset:

- Services and demographic data for foster youth in FY 2014 from dataset A

- Initial Data Review (look at tables, dtypes, etc.)

- Clean data:
    
    - Convert data type of columns AgeMP, EduLevlSv, RaceDcl, RaceUnkn to int

    - Convert data types of columns RepDates_outcomes, RepDates_services, outcmdte and DOB to datetime

    - Identify categorical variable columns that may need to be dummified for later analysis

    - Unfortunately, several states have badly encoded unique ID values, which prevents me from tracking those 
      records. Need to drop data rows from the following states due to data quality issue:
      ["HI", "IN", "KY", "MS", "OR", "TX", "TN"]

- Load cleaned dataset into local postgres DB

# START Data Clean and Munge

In [159]:
# Load 3 initial datasets into pandas DF

In [160]:
services_11_14 = pd.read_csv('~/Desktop/dsi_projects_backup/capstone/data_to_use/raw/Services_2014.csv')

In [161]:
outcomes_2013 = pd.read_stata('~/Desktop/dsi_projects_backup/capstone/data_to_use/raw/Outcomes2011Wave2_.dta')

In [162]:
outcomes_2014 = pd.read_stata('~/Desktop/dsi_projects_backup/capstone/data_to_use/raw/Outcomes14_W1.dta')

In [163]:
list(services_11_14)

['FY',
 'RepDate',
 'StFIPS',
 'St',
 'RecNumbr',
 'DOB',
 'Sex',
 'AmIAKN',
 'Asian',
 'BlkAfrAm',
 'HawaiiPI',
 'White',
 'RaceUnkn',
 'RaceDcln',
 'HisOrgin',
 'FCStatSv',
 'LclFIPSsv',
 'TribeSv',
 'DelinqntSv',
 'EdLevlSv',
 'SpecEdSv',
 'ILNAsv',
 'AcSuppSv',
 'PSEdSuppSv',
 'CareerSv',
 'EmplyTrSv',
 'BudgetSv',
 'HousEdSv',
 'HlthEdSv',
 'FamSuppSv',
 'MentorSv',
 'SILsv',
 'RmBrdFASv',
 'EducFinaSv',
 'OthrFinaSv',
 'StFCID',
 'Race',
 'RaceEthn',
 'AgeMP']

In [164]:
services_11_14.describe()

,FY,RepDate,StFIPS,Sex,AmIAKN,Asian,BlkAfrAm,HawaiiPI,White,HisOrgin,...,HousEdSv,HlthEdSv,FamSuppSv,MentorSv,SILsv,RmBrdFASv,EducFinaSv,OthrFinaSv,Race,RaceEthn
count,675645.000000,675645.000000,675645.000000,675645.000000,675645.000000,675645.000000,675645.000000,675645.000000,675645.000000,675645.000000,...,675645.000000,675645.000000,675645.000000,675645.000000,675645.000000,675645.000000,675645.000000,675645.000000,675645.000000,675645.000000
mean,2012.462685,201252.261118,26.395412,1.516631,0.036691,0.020037,0.368907,0.011923,0.548146,0.318765,...,8.897445,8.878888,8.827611,8.738966,8.663393,8.696876,8.750952,8.793846,9.967709,5.345485
std,1.113240,111.310146,16.358375,0.499724,0.617899,0.605054,0.761098,0.598528,0.770803,1.419459,...,24.123840,24.129933,24.148215,24.181827,24.200287,24.194873,24.176128,24.167719,27.141931,15.597203
min,2011.000000,201103.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000
25%,2011.000000,201109.000000,12.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000
50%,2012.000000,201209.000000,25.000000,2.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2.000000
75%,2013.000000,201309.000000,39.000000,2.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,...,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,1.000000,1.000000,2.000000,6.000000
max,2014.000000,201409.000000,72.000000,2.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,...,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,99.000000,99.000000

In [165]:
list(outcomes_2013)

['Wave',
 'StChID',
 'StFIPS',
 'St',
 'RecNumbr',
 'RepDate',
 'dob',
 'Sex',
 'AmIAKN',
 'Asian',
 'BlkAfrAm',
 'HawaiiPI',
 'White',
 'RaceUnkn',
 'RaceDcln',
 'HisOrgin',
 'OutcmRpt',
 'OutcmDte',
 'OutcmFCS',
 'CurrFTE',
 'CurrPTE',
 'EmplySklls',
 'SocSecrty',
 'EducAid',
 'PubFinAs',
 'PubFoodAs',
 'PubHousAs',
 'OthrFinAs',
 'HighEdCert',
 'CurrenRoll',
 'CnctAdult',
 'Homeless',
 'SubAbuse',
 'Incarc',
 'Children',
 'Marriage',
 'Medicaid',
 'OthrHlthIn',
 'MedicalIn',
 'MentlHlthIn',
 'PrescripIn',
 'SampleState',
 'InSample',
 'Baseline',
 'FY11Cohort',
 'Elig19',
 'Weight',
 'Responded']

In [166]:
outcomes_2013.describe()

             Weight
count  22811.000000
mean       2.505278
std        2.241763
min        0.700000
25%             NaN
50%             NaN
75%             NaN
max       80.710000

In [167]:
list(outcomes_2014)

['wave',
 'stfips',
 'st',
 'recnumbr',
 'repdate',
 'dob',
 'sex',
 'amiakn',
 'asian',
 'blkafram',
 'hawaiipi',
 'white',
 'raceunkn',
 'racedcln',
 'hisorgin',
 'outcmrpt',
 'outcmdte',
 'outcmfcs',
 'currfte',
 'currpte',
 'emplysklls',
 'socsecrty',
 'educaid',
 'pubfinas',
 'pubfoodas',
 'pubhousas',
 'othrfinas',
 'highedcert',
 'currenroll',
 'cnctadult',
 'homeless',
 'subabuse',
 'incarc',
 'children',
 'marriage',
 'medicaid',
 'othrhlthin',
 'medicalin',
 'mentlhlthin',
 'prescripin',
 'baseline',
 'fy14cohort',
 'elig19',
 'samplestate',
 'insample',
 'responded',
 'race',
 'raceethn',
 'stfcid']

In [168]:
outcomes_2014.describe()

             stfips     responded
count  23775.000000  23775.000000
mean      26.338212      0.733460
std       16.927417      0.442159
min        1.000000      0.000000
25%        9.000000      0.000000
50%       25.000000      1.000000
75%       40.000000      1.000000
max       72.000000      1.000000

In [169]:
# First I will create a data set that has services and demographic data (from 2011) for cohort 1 baseline population

In [170]:
# For cohort 1, only need services data for FY 2011
cohort_1 = services_11_14[services_11_14.FY == 2011]

# Dropping columns that are not needed for this project
cohort_1 = cohort_1.drop(['RecNumbr','LclFIPSsv'],axis= 1)

cohort_1.describe()

,FY,RepDate,StFIPS,Sex,AmIAKN,Asian,BlkAfrAm,HawaiiPI,White,HisOrgin,...,HousEdSv,HlthEdSv,FamSuppSv,MentorSv,SILsv,RmBrdFASv,EducFinaSv,OthrFinaSv,Race,RaceEthn
count,173184.0,173184.000000,173184.000000,173184.000000,173184.000000,173184.000000,173184.000000,173184.000000,173184.000000,173184.000000,...,173184.000000,173184.000000,173184.000000,173184.000000,173184.000000,173184.000000,173184.000000,173184.000000,173184.00000,173184.000000
mean,2011.0,201106.089974,26.569672,1.519696,0.030886,0.014118,0.373782,0.006317,0.531926,0.292885,...,14.481690,14.470448,14.425882,14.342358,14.283796,14.309959,14.370282,14.401954,9.74698,5.642167
std,0.0,2.998659,16.210084,0.499613,0.173010,0.117978,0.483808,0.079228,0.498981,0.637311,...,29.737938,29.743221,29.764113,29.814385,29.836409,29.824874,29.796868,29.798552,26.86216,16.506973
min,2011.0,201103.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.00000,1.000000
25%,2011.0,201103.000000,12.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.00000,1.000000
50%,2011.0,201109.000000,25.000000,2.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.00000,2.000000
75%,2011.0,201109.000000,36.000000,2.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.00000,6.000000
max,2011.0,201109.000000,72.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,3.000000,...,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,99.00000,99.000000

In [171]:
# Checking to see if unique IDs are repeated. Then need to determine if repeat is just a duplicate or means something

ID_count = dict(cohort_1.StFCID.value_counts())
set(cohort_1.StFCID.value_counts())

{1, 2}

In [172]:
duplicate_count = pd.DataFrame.from_dict(ID_count, orient='index')
duplicate_count[0].value_counts()

2    59411
1    54362
Name: 0, dtype: int64

Based on the information above: 
    
    - There are 113,773 total rows of data.
    
    - Of that total, 59,411 -- 52% -- are repeated

______________________________________________________________________
In the next two cells, I am checking the counts of duplicates in two different ways by utilizing 
the kwarg 'keep' in the 'DF.duplicated' class. For more information, see the documentation: 
http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.duplicated.html

In [173]:
dup_check_dict = dict(cohort_1.duplicated(['StFCID'],keep=False))

dup_count2 = pd.DataFrame.from_dict(dup_check_dict, orient='index')
dup_count2[0].value_counts()

True     118822
False     54362
Name: 0, dtype: int64

In [174]:
dup_check_dict = dict(cohort_1.duplicated(['StFCID'],keep='first'))

dup_count2 = pd.DataFrame.from_dict(dup_check_dict, orient='index')
dup_count2[0].value_counts()

False    113773
True      59411
Name: 0, dtype: int64

In [175]:
# Adding a new boolean column to baseline population dataframe that will 
# identify a duplicated order line item based on unique ID (False=Not a duplicate; True=Duplicate).
# Then sorting values based on Unique ID and RepDate columns

cohort_1['duplicated'] = cohort_1.duplicated(['StFCID'], keep=False)
cohort_1_dups = cohort_1[cohort_1['duplicated'] == True]
cohort_1_dups = cohort_1_dups.sort_values(['StFCID', 'RepDate'], ascending=[True, True])

In [176]:
# So, after examining resulting tables from cell above, I determined that the repeats are 
# those youth who were reported in both reporting periods for FY 2011 (RepDate: 201103 or 201109).
# Some repeats are duplicates of each other (containing the same information in both rows), 
# while some repeats need to be reviewed further.

# First, I will separate the repeats that are duplicates, drop one of the two rows for every unique ID, and merge 
# the remaining data rows with the non-duplicated data from cohort_1.

cohort_1_dups_b = cohort_1_dups.drop(['RepDate', 'AgeMP'], axis=1)

cohort_1_dups['duplicated_4_sure'] = cohort_1_dups_b.duplicated(keep=False)
cohort_1_dups.duplicated_4_sure.value_counts()

False    93602
True     25220
Name: duplicated_4_sure, dtype: int64

In [177]:
cohort_1_dups_2bAdded = cohort_1_dups[cohort_1_dups['duplicated_4_sure'] == True]
cohort_1_dups_2bAdded = cohort_1_dups_2bAdded.drop_duplicates('StFCID')
cohort_1_dups_2bAdded.duplicated_4_sure.value_counts()

True    12610
Name: duplicated_4_sure, dtype: int64

In [178]:
# Merging remaining data rows that are now unique and 
# adding to new dataframe with other data rows that were already unique...

cohort_1_NoDups = cohort_1[cohort_1['duplicated'] == False]
cohort_1_NoDups['duplicated'].value_counts()

False    54362
Name: duplicated, dtype: int64

In [179]:
cohort_1_dups_2bAdded = cohort_1_dups_2bAdded.drop(['duplicated','duplicated_4_sure'], axis=1)
cohort_1_NoDups = cohort_1_NoDups.drop('duplicated',axis=1)

frames = [cohort_1_dups_2bAdded, cohort_1_NoDups]

cohort_1_NoDups = pd.concat(frames)
cohort_1_NoDups.describe()

,FY,RepDate,StFIPS,Sex,AmIAKN,Asian,BlkAfrAm,HawaiiPI,White,HisOrgin,...,HousEdSv,HlthEdSv,FamSuppSv,MentorSv,SILsv,RmBrdFASv,EducFinaSv,OthrFinaSv,Race,RaceEthn
count,66972.0,66972.000000,66972.000000,66972.000000,66972.000000,66972.000000,66972.000000,66972.000000,66972.000000,66972.000000,...,66972.000000,66972.000000,66972.000000,66972.000000,66972.000000,66972.000000,66972.000000,66972.000000,66972.000000,66972.000000
mean,2011.0,201105.667801,25.980216,1.504823,0.030684,0.013767,0.375231,0.006555,0.513976,0.300230,...,18.860628,18.860793,18.817670,18.749895,18.701398,18.721167,18.773338,18.803425,11.020426,6.434600
std,0.0,2.981573,15.436015,0.499980,0.172463,0.116523,0.484186,0.080698,0.499808,0.651068,...,32.871587,32.871495,32.895545,32.933194,32.956046,32.953075,32.924173,32.915421,28.697648,18.517889
min,2011.0,201103.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000
25%,2011.0,201103.000000,12.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000
50%,2011.0,201103.000000,27.000000,2.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,2.000000
75%,2011.0,201109.000000,36.000000,2.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000,6.000000
max,2011.0,201109.000000,72.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,3.000000,...,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,99.000000,99.000000

In [182]:
# Now I need to review the remaining repeated IDs, and determine which data row I should keep. 
# I will keep the data row that has the larger sum of number of services recieved for the unique ID.

cohort_1_reviewDups = cohort_1_dups[cohort_1_dups['duplicated_4_sure'] == False]
services = cohort_1_reviewDups[['TribeSv','DelinqntSv', 'SpecEdSv', 'ILNAsv', 'AcSuppSv', \
            'PSEdSuppSv', 'CareerSv', 'EmplyTrSv', 'BudgetSv', 'HousEdSv', 'HlthEdSv', \
            'FamSuppSv', 'MentorSv', 'SILsv', 'RmBrdFASv', 'EducFinaSv', 'OthrFinaSv']]

services_count = services.T

cohort_1_reviewDups['Num_services'] = (services_count == 1).sum()
cohort_1_reviewDups.Num_services.value_counts()

1     16065
2     16010
3     12406
4      9290
5      7443
6      6699
7      5745
0      4875
8      4628
9      3645
10     2399
11     1652
12     1086
13      832
14      598
15      203
16       21
17        5
Name: Num_services, dtype: int64

In [187]:
# Sorting values based on Unique ID and Num_services columns
# Then dropping duplicates with smaller value in Num_services columns

cohort_1_reviewDups = cohort_1_reviewDups.sort_values(['StFCID', 'Num_services'], ascending=[True, True])
cohort_1_DupsKeep = cohort_1_reviewDups.drop_duplicates('StFCID',keep='last')
cohort_1_DupsKeep.describe()

,FY,RepDate,StFIPS,Sex,AmIAKN,Asian,BlkAfrAm,HawaiiPI,White,HisOrgin,...,HlthEdSv,FamSuppSv,MentorSv,SILsv,RmBrdFASv,EducFinaSv,OthrFinaSv,Race,RaceEthn,Num_services
count,46801.0,46801.000000,46801.000000,46801.000000,46801.000000,46801.000000,46801.000000,46801.000000,46801.000000,46801.000000,...,46801.000000,46801.000000,46801.000000,46801.000000,46801.000000,46801.000000,46801.000000,46801.000000,46801.000000,46801.000000
mean,2011.0,201107.161706,25.759129,1.532895,0.034187,0.015299,0.361894,0.006795,0.556398,0.295336,...,4.210017,4.151514,4.005149,3.922032,3.958655,4.049230,4.117968,8.786329,4.369287,5.012072
std,0.0,2.765972,17.179924,0.498922,0.181712,0.122740,0.480553,0.082150,0.496814,0.641710,...,16.574347,16.587335,16.645194,16.654974,16.632378,16.613285,16.684860,25.319119,12.502751,3.373394
min,2011.0,201103.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000
25%,2011.0,201103.000000,12.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,2.000000
50%,2011.0,201109.000000,21.000000,2.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2.000000,4.000000
75%,2011.0,201109.000000,40.000000,2.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,...,1.000000,1.000000,1.000000,0.000000,0.000000,1.000000,1.000000,2.000000,5.000000,7.000000
max,2011.0,201109.000000,72.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,3.000000,...,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,99.000000,99.000000,17.000000

In [188]:
cohort_1_DupsKeep.columns

Index([u'FY', u'RepDate', u'StFIPS', u'St', u'DOB', u'Sex', u'AmIAKN',
       u'Asian', u'BlkAfrAm', u'HawaiiPI', u'White', u'RaceUnkn', u'RaceDcln',
       u'HisOrgin', u'FCStatSv', u'TribeSv', u'DelinqntSv', u'EdLevlSv',
       u'SpecEdSv', u'ILNAsv', u'AcSuppSv', u'PSEdSuppSv', u'CareerSv',
       u'EmplyTrSv', u'BudgetSv', u'HousEdSv', u'HlthEdSv', u'FamSuppSv',
       u'MentorSv', u'SILsv', u'RmBrdFASv', u'EducFinaSv', u'OthrFinaSv',
       u'StFCID', u'Race', u'RaceEthn', u'AgeMP', u'duplicated',
       u'duplicated_4_sure', u'Num_services'],
      dtype='object')

In [189]:
# Merging remaining data rows that are now unique and 
# adding to cohort_1_NoDups dataframe
# Resulting df is the Cohort 1 Baseline Population (N) data set

cohort_1_DupsKeep = cohort_1_DupsKeep.drop(['Num_services','duplicated','duplicated_4_sure'], axis=1)

frames = [cohort_1_DupsKeep, cohort_1_NoDups]
cohort_1_NoDups = pd.concat(frames)
cohort_1_NoDups.describe()

,FY,RepDate,StFIPS,Sex,AmIAKN,Asian,BlkAfrAm,HawaiiPI,White,HisOrgin,...,HousEdSv,HlthEdSv,FamSuppSv,MentorSv,SILsv,RmBrdFASv,EducFinaSv,OthrFinaSv,Race,RaceEthn
count,113773.0,113773.000000,113773.000000,113773.000000,113773.000000,113773.000000,113773.000000,113773.000000,113773.000000,113773.000000,...,113773.000000,113773.000000,113773.000000,113773.000000,113773.000000,113773.000000,113773.000000,113773.000000,113773.000000,113773.000000
mean,2011.0,201106.282325,25.889271,1.516370,0.032125,0.014397,0.369745,0.006654,0.531427,0.298217,...,12.844796,12.834135,12.784685,12.684582,12.621843,12.648546,12.716514,12.762501,10.101421,5.585025
std,0.0,2.986699,16.176449,0.499734,0.176334,0.119122,0.482738,0.081298,0.499014,0.647237,...,28.297735,28.302384,28.323883,28.373436,28.395768,28.386166,28.356981,28.363432,27.380399,16.345857
min,2011.0,201103.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000
25%,2011.0,201103.000000,12.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000
50%,2011.0,201109.000000,25.000000,2.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,2.000000
75%,2011.0,201109.000000,36.000000,2.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,...,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,2.000000,6.000000
max,2011.0,201109.000000,72.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,3.000000,...,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,99.000000,99.000000

In [ ]:
cohort_1_baseline = cohort_1_NoDups.copy()

In [191]:
# Now to get baseline N without data from states that have bad unique ID encodings...

# Issue with encoding the tracking ID (StFIPS). Need to drop states that have the issue: HI, IN, KY, MS, OR, TX, TN

bad_encode_states = ["HI", "IN", "KY", "MS", "OR", "TX", "TN"]
cohort_1_baseline_noBadCodeSt = cohort_1_NoDups.loc[~cohort_1_NoDups['St'].isin(bad_encode_states)]
cohort_1_baseline_noBadCodeSt.describe()

,FY,RepDate,StFIPS,Sex,AmIAKN,Asian,BlkAfrAm,HawaiiPI,White,HisOrgin,...,HousEdSv,HlthEdSv,FamSuppSv,MentorSv,SILsv,RmBrdFASv,EducFinaSv,OthrFinaSv,Race,RaceEthn
count,97160.0,97160.000000,97160.000000,97160.000000,97160.000000,97160.000000,97160.000000,97160.000000,97160.000000,97160.000000,...,97160.000000,97160.000000,97160.000000,97160.000000,97160.000000,97160.000000,97160.000000,97160.000000,97160.000000,97160.000000
mean,2011.0,201106.266035,24.450185,1.511671,0.034592,0.013843,0.383007,0.004179,0.508419,0.305445,...,14.944267,14.939255,14.886569,14.821912,14.756114,14.774979,14.838174,14.863864,11.110550,5.772077
std,0.0,2.988196,16.151715,0.499866,0.182746,0.116840,0.486123,0.064508,0.499932,0.652896,...,30.108971,30.111375,30.136583,30.167364,30.198514,30.189601,30.159638,30.147412,28.783247,16.743587
min,2011.0,201103.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000
25%,2011.0,201103.000000,8.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000
50%,2011.0,201109.000000,24.000000,2.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,2.000000
75%,2011.0,201109.000000,36.000000,2.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000,6.000000
max,2011.0,201109.000000,72.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,3.000000,...,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,99.000000,99.000000

---------------------------------------------------------------------------------------------------------------------
- Cohort 1 Baseline Population = <b>N = 113773 total foster youth who received services in FY 2011</b> 

- Cohort 1 Baseline Population, without states with bad encodings of unique ID (thus excluded from analysis) = <b> N_no_states = 97160 total foster youth who received services in FY 2011 (excluding certain states)</b>


Now I will make a dataset for Cohort 1, Wave 2 Population (n)....
-----------------------------------------------------------------------------------------------------------------

In [19]:
outcomes_2013.Wave.value_counts()

Wave 1: Age 17 Baseline Survey    28635
Wave 2: Age 19 Followup           15235
Name: Wave, dtype: int64

In [21]:
                    # Exclude

                    outcomes_2014.wave.value_counts()

Age 17 Baseline Survey    23775
Name: wave, dtype: int64

In [197]:
# For now, I only want to examine data for foster youth who participated in the Wave 2 FU survey
# The project analysis and predictive model will be based on this Wave 2 population/dataset

# I will do an inner join of the outcomes data from FY 2013 (Wave 2) 
# with services and demographics data from FY 2011, joining on unique ID

cohort_1_baseline_noBadCodeSt.rename(columns={'RepDate':'RepDate_services'}, inplace=True)

outcomes_2013_keep = outcomes_2013.drop(['StFIPS','St','RecNumbr','dob','Sex','AmIAKN','Asian','BlkAfrAm',\
                                         'HawaiiPI','White','RaceUnkn','RaceDcln','HisOrgin'], axis=1)

outcomes_2013_keep.rename(columns={'RepDate':'RepDate_outcomes', 'StChID': 'StFCID'}, inplace=True)

cohort1_wave2 = pd.merge(outcomes_2013_keep, cohort_1_baseline_noBadCodeSt, on='StFCID', how='inner')
cohort1_wave2 = cohort1_wave2[cohort1_wave2.Wave == 'Wave 2: Age 19 Followup']

/Users/cguy/anaconda/lib/python2.7/site-packages/pandas/core/frame.py:2754: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  **kwargs)

In [200]:
cohort1_wave2.describe()

,Weight,FY,RepDate_services,StFIPS,Sex,AmIAKN,Asian,BlkAfrAm,HawaiiPI,White,...,HousEdSv,HlthEdSv,FamSuppSv,MentorSv,SILsv,RmBrdFASv,EducFinaSv,OthrFinaSv,Race,RaceEthn
count,4499.000000,7432.0,7432.000000,7432.000000,7432.000000,7432.000000,7432.000000,7432.000000,7432.000000,7432.000000,...,7432.000000,7432.000000,7432.000000,7432.000000,7432.000000,7432.000000,7432.000000,7432.000000,7432.000000,7432.000000
mean,3.421336,2011.0,201106.993003,24.903122,1.508746,0.042653,0.014128,0.335845,0.005920,0.572928,...,3.312702,3.328983,3.255786,3.145587,3.008477,3.017626,3.060684,3.131862,9.295748,3.967169
std,3.121785,0.0,2.831082,16.947751,0.499957,0.202088,0.118027,0.472317,0.076721,0.494686,...,14.669816,14.666685,14.680616,14.700877,14.724896,14.723334,14.715906,14.703341,26.149488,11.277109
min,0.880000,2011.0,201103.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000
25%,NaN,2011.0,201103.000000,8.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000
50%,NaN,2011.0,201109.000000,22.000000,2.000000,0.000000,0.000000,0.000000,0.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2.000000
75%,NaN,2011.0,201109.000000,38.000000,2.000000,0.000000,0.000000,1.000000,0.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,2.000000,3.000000
max,80.710000,2011.0,201109.000000,72.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,99.000000,99.000000

---------------------------------------------------------------------------------------------------------------------
- Cohort 1 Wave 2 Population = <b>n = 4499 total foster youth who participated in FY 2013 Survey</b> 

- n/N = 4499/113773 = 0.0395 ==> <b>sample is 3.95% of target population </b>

- n/N_no_states = 4499/97160 = 0.0463 ==> <b>sample is 4.63% of target population </b>

Need to clean this Wave 2 dataset....
--------------------------------------------------------------------------------------------------------------

In [13]:
# Need to figure out how to treat missing values....

dict(cohort_1.isnull().sum())

{'AcSuppSv': 0,
 'AgeMP': 0,
 'AmIAKN': 0,
 'Asian': 0,
 'Baseline': 0,
 'BlkAfrAm': 0,
 'BudgetSv': 0,
 'CareerSv': 0,
 'Children': 154,
 'CnctAdult': 154,
 'CurrFTE': 154,
 'CurrPTE': 154,
 'CurrenRoll': 154,
 'DOB': 0,
 'DelinqntSv': 0,
 'EdLevlSv': 0,
 'EducAid': 154,
 'EducFinaSv': 0,
 'Elig19': 0,
 'EmplySklls': 154,
 'EmplyTrSv': 0,
 'FCStatSv': 0,
 'FY': 0,
 'FY11Cohort': 0,
 'FamSuppSv': 0,
 'HawaiiPI': 0,
 'HighEdCert': 200,
 'HisOrgin': 0,
 'HlthEdSv': 0,
 'Homeless': 154,
 'HousEdSv': 0,
 'ILNAsv': 0,
 'InSample': 18613,
 'Incarc': 154,
 'Marriage': 154,
 'Medicaid': 154,
 'MedicalIn': 154,
 'MentlHlthIn': 154,
 'MentorSv': 0,
 'OthrFinAs': 154,
 'OthrFinaSv': 0,
 'OthrHlthIn': 154,
 'OutcmDte': 4135,
 'OutcmFCS': 154,
 'OutcmRpt': 154,
 'PSEdSuppSv': 0,
 'PrescripIn': 154,
 'PubFinAs': 154,
 'PubFoodAs': 154,
 'PubHousAs': 157,
 'Race': 0,
 'RaceDcln': 0,
 'RaceEthn': 0,
 'RaceUnkn': 0,
 'RepDate_outcomes': 0,
 'RepDate_services': 0,
 'Responded': 0,
 'RmBrdFASv': 0,
 'SILsv': 0,
 'SampleState': 0,
 'Sex': 0,
 'SocSecrty': 154,
 'SpecEdSv': 0,
 'St': 0,
 'StFCID': 0,
 'StFIPS': 0,
 'SubAbuse': 154,
 'TribeSv': 0,
 'Wave': 0,
 'Weight': 14881,
 'White': 0}

In [14]:
# For now, I am dropping rows that have NaNs in 10+ columns....

cohort_1 = cohort_1[cohort_1.HighEdCert.notnull()]
cohort_1 = cohort_1[cohort_1.PubHousAs.notnull()]

In [15]:
dict(cohort_1.isnull().sum())

{'AcSuppSv': 0,
 'AgeMP': 0,
 'AmIAKN': 0,
 'Asian': 0,
 'Baseline': 0,
 'BlkAfrAm': 0,
 'BudgetSv': 0,
 'CareerSv': 0,
 'Children': 0,
 'CnctAdult': 0,
 'CurrFTE': 0,
 'CurrPTE': 0,
 'CurrenRoll': 0,
 'DOB': 0,
 'DelinqntSv': 0,
 'EdLevlSv': 0,
 'EducAid': 0,
 'EducFinaSv': 0,
 'Elig19': 0,
 'EmplySklls': 0,
 'EmplyTrSv': 0,
 'FCStatSv': 0,
 'FY': 0,
 'FY11Cohort': 0,
 'FamSuppSv': 0,
 'HawaiiPI': 0,
 'HighEdCert': 0,
 'HisOrgin': 0,
 'HlthEdSv': 0,
 'Homeless': 0,
 'HousEdSv': 0,
 'ILNAsv': 0,
 'InSample': 18569,
 'Incarc': 0,
 'Marriage': 0,
 'Medicaid': 0,
 'MedicalIn': 0,
 'MentlHlthIn': 0,
 'MentorSv': 0,
 'OthrFinAs': 0,
 'OthrFinaSv': 0,
 'OthrHlthIn': 0,
 'OutcmDte': 4135,
 'OutcmFCS': 0,
 'OutcmRpt': 0,
 'PSEdSuppSv': 0,
 'PrescripIn': 0,
 'PubFinAs': 0,
 'PubFoodAs': 0,
 'PubHousAs': 0,
 'Race': 0,
 'RaceDcln': 0,
 'RaceEthn': 0,
 'RaceUnkn': 0,
 'RepDate_outcomes': 0,
 'RepDate_services': 0,
 'Responded': 0,
 'RmBrdFASv': 0,
 'SILsv': 0,
 'SampleState': 0,
 'Sex': 0,
 'SocSecrty': 0,
 'SpecEdSv': 0,
 'St': 0,
 'StFCID': 0,
 'StFIPS': 0,
 'SubAbuse': 0,
 'TribeSv': 0,
 'Wave': 0,
 'Weight': 14719,
 'White': 0}

In [16]:
dict(cohort_1.dtypes)

{'AcSuppSv': dtype('int64'),
 'AgeMP': dtype('O'),
 'AmIAKN': dtype('int64'),
 'Asian': dtype('int64'),
 'Baseline': dtype('O'),
 'BlkAfrAm': dtype('int64'),
 'BudgetSv': dtype('int64'),
 'CareerSv': dtype('int64'),
 'Children': dtype('O'),
 'CnctAdult': dtype('O'),
 'CurrFTE': dtype('O'),
 'CurrPTE': dtype('O'),
 'CurrenRoll': dtype('O'),
 'DOB': dtype('O'),
 'DelinqntSv': dtype('int64'),
 'EdLevlSv': dtype('O'),
 'EducAid': dtype('O'),
 'EducFinaSv': dtype('int64'),
 'Elig19': dtype('O'),
 'EmplySklls': dtype('O'),
 'EmplyTrSv': dtype('int64'),
 'FCStatSv': dtype('int64'),
 'FY': dtype('int64'),
 'FY11Cohort': dtype('O'),
 'FamSuppSv': dtype('int64'),
 'HawaiiPI': dtype('int64'),
 'HighEdCert': dtype('O'),
 'HisOrgin': dtype('int64'),
 'HlthEdSv': dtype('int64'),
 'Homeless': dtype('O'),
 'HousEdSv': dtype('int64'),
 'ILNAsv': dtype('int64'),
 'InSample': dtype('O'),
 'Incarc': dtype('O'),
 'Marriage': dtype('O'),
 'Medicaid': dtype('O'),
 'MedicalIn': dtype('O'),
 'MentlHlthIn': dtype('O'),
 'MentorSv': dtype('int64'),
 'OthrFinAs': dtype('O'),
 'OthrFinaSv': dtype('int64'),
 'OthrHlthIn': dtype('O'),
 'OutcmDte': dtype('<M8[ns]'),
 'OutcmFCS': dtype('O'),
 'OutcmRpt': dtype('O'),
 'PSEdSuppSv': dtype('int64'),
 'PrescripIn': dtype('O'),
 'PubFinAs': dtype('O'),
 'PubFoodAs': dtype('O'),
 'PubHousAs': dtype('O'),
 'Race': dtype('int64'),
 'RaceDcln': dtype('O'),
 'RaceEthn': dtype('int64'),
 'RaceUnkn': dtype('O'),
 'RepDate_outcomes': dtype('O'),
 'RepDate_services': dtype('int64'),
 'Responded': dtype('O'),
 'RmBrdFASv': dtype('int64'),
 'SILsv': dtype('int64'),
 'SampleState': dtype('O'),
 'Sex': dtype('int64'),
 'SocSecrty': dtype('O'),
 'SpecEdSv': dtype('int64'),
 'St': dtype('O'),
 'StFCID': dtype('O'),
 'StFIPS': dtype('int64'),
 'SubAbuse': dtype('O'),
 'TribeSv': dtype('int64'),
 'Wave': dtype('O'),
 'Weight': dtype('float64'),
 'White': dtype('int64')}

In [17]:
#Need to convert AgeMP, EduLevlSv to int

cohort_1['AgeMP'] = cohort_1['AgeMP'].apply(lambda x: int(x))
cohort_1['EdLevlSv'] = cohort_1['EdLevlSv'].apply(lambda x: int(x))

In [18]:
# Fix mixed types in RaceDcl, RaceUnkn (need to be type int):

def treat_blank_strings(row_with_string):
    """Find blank strings ("") and convert to value 77 (which represents blank in raw data codebook). 
    Also, convert all values to type int."""
    if type(row_with_string) == int:
        return row_with_string
    elif row_with_string == "0":
        return 0
    elif row_with_string == "1":
        return 1
    else:
        return 77

In [19]:
print cohort_1.RaceDcln.value_counts()
cohort_1['RaceDcln'] = cohort_1['RaceDcln'].apply(treat_blank_strings)
cohort_1.RaceDcln.value_counts()

0    16187
0    11466
      4026
1     1245
1     1093
Name: RaceDcln, dtype: int64

0     27653
77     4026
1      2338
Name: RaceDcln, dtype: int64

In [20]:
print cohort_1.RaceUnkn.value_counts()
cohort_1['RaceUnkn'] = cohort_1['RaceUnkn'].apply(treat_blank_strings)
cohort_1.RaceUnkn.value_counts()

0    30034
0     3022
       484
1      441
1       36
Name: RaceUnkn, dtype: int64

0     33056
77      484
1       477
Name: RaceUnkn, dtype: int64

In [21]:
#Need to convert RepDates and DOBs to datetime

cohort_1.RepDate_services = pd.to_datetime(cohort_1['RepDate_services'], format="%Y%m")
cohort_1.DOB = pd.to_datetime(cohort_1['DOB'])

In [22]:
# Need to address blanks in RepDates_outcomes column before converting to datetime....

print cohort_1.RepDate_outcomes.value_counts()

def treat_blank_dates(row_with_string):
    """Find blank dates ("") and convert to value 199901 (I need to decide what to do with blanks later)."""
    if len(row_with_string) == 0:
        return int("199901")
    else:
        return row_with_string

cohort_1['RepDate_outcomes'] = cohort_1['RepDate_outcomes'].apply(treat_blank_dates)
print cohort_1.RepDate_outcomes.value_counts()
cohort_1.RepDate_outcomes = pd.to_datetime(cohort_1['RepDate_outcomes'], format="%Y%m")

201103    11517
201109    10248
201309     5689
201303     5674
            543
201203      346
Name: RepDate_outcomes, dtype: int64
201103    11517
201109    10248
201309     5689
201303     5674
199901      543
201203      346
Name: RepDate_outcomes, dtype: int64

In [23]:
dict(cohort_1.dtypes)

{'AcSuppSv': dtype('int64'),
 'AgeMP': dtype('int64'),
 'AmIAKN': dtype('int64'),
 'Asian': dtype('int64'),
 'Baseline': dtype('O'),
 'BlkAfrAm': dtype('int64'),
 'BudgetSv': dtype('int64'),
 'CareerSv': dtype('int64'),
 'Children': dtype('O'),
 'CnctAdult': dtype('O'),
 'CurrFTE': dtype('O'),
 'CurrPTE': dtype('O'),
 'CurrenRoll': dtype('O'),
 'DOB': dtype('<M8[ns]'),
 'DelinqntSv': dtype('int64'),
 'EdLevlSv': dtype('int64'),
 'EducAid': dtype('O'),
 'EducFinaSv': dtype('int64'),
 'Elig19': dtype('O'),
 'EmplySklls': dtype('O'),
 'EmplyTrSv': dtype('int64'),
 'FCStatSv': dtype('int64'),
 'FY': dtype('int64'),
 'FY11Cohort': dtype('O'),
 'FamSuppSv': dtype('int64'),
 'HawaiiPI': dtype('int64'),
 'HighEdCert': dtype('O'),
 'HisOrgin': dtype('int64'),
 'HlthEdSv': dtype('int64'),
 'Homeless': dtype('O'),
 'HousEdSv': dtype('int64'),
 'ILNAsv': dtype('int64'),
 'InSample': dtype('O'),
 'Incarc': dtype('O'),
 'Marriage': dtype('O'),
 'Medicaid': dtype('O'),
 'MedicalIn': dtype('O'),
 'MentlHlthIn': dtype('O'),
 'MentorSv': dtype('int64'),
 'OthrFinAs': dtype('O'),
 'OthrFinaSv': dtype('int64'),
 'OthrHlthIn': dtype('O'),
 'OutcmDte': dtype('<M8[ns]'),
 'OutcmFCS': dtype('O'),
 'OutcmRpt': dtype('O'),
 'PSEdSuppSv': dtype('int64'),
 'PrescripIn': dtype('O'),
 'PubFinAs': dtype('O'),
 'PubFoodAs': dtype('O'),
 'PubHousAs': dtype('O'),
 'Race': dtype('int64'),
 'RaceDcln': dtype('int64'),
 'RaceEthn': dtype('int64'),
 'RaceUnkn': dtype('int64'),
 'RepDate_outcomes': dtype('<M8[ns]'),
 'RepDate_services': dtype('<M8[ns]'),
 'Responded': dtype('O'),
 'RmBrdFASv': dtype('int64'),
 'SILsv': dtype('int64'),
 'SampleState': dtype('O'),
 'Sex': dtype('int64'),
 'SocSecrty': dtype('O'),
 'SpecEdSv': dtype('int64'),
 'St': dtype('O'),
 'StFCID': dtype('O'),
 'StFIPS': dtype('int64'),
 'SubAbuse': dtype('O'),
 'TribeSv': dtype('int64'),
 'Wave': dtype('O'),
 'Weight': dtype('float64'),
 'White': dtype('int64')}

In [24]:
# Depending on tyoe of modeling techniques I will use, 
# I will need to turn the following into numeric categories: 

# wave, OutcmRpt, OutcmFCS, CurrFTE, CurrPTE, EmplySkills, SocSecrty,
# 'EducAid','PubFinAs','PubFoodAs','PubHousAs','OthrFinAs','HighEdCert','CurrenRoll','CnctAdult',
# 'Marriage','Medicaid','OthrHlthIn','MedicalIn','MentlHlthIn','PrescripIn','Baseline','FY11Cohort',
# 'Elig19','SampleState','InSample','Responded'

In [25]:
# Need to fix encoding in column HighEdCert

cohort_1.HighEdCert.value_counts()

None of the above          15041
Blank                      13142
High school diploma/GED     4699
Declined                     734
78.0                         201
Vocational certificate       132
Vocational license            35
Higher degree                 17
Associate�s degree            10
Bachelor�s degree              6
Name: HighEdCert, dtype: int64

In [26]:
def change_weird_chars(row):
    if type(row) == str:
        if 'Bachelor' in row:
            return "Bachelor's Degree"
        elif 'Associate' in row:
            return "Associate's Degree"
        else:
            return row
    
cohort_1.HighEdCert = cohort_1['HighEdCert'].apply(change_weird_chars)

cohort_1.HighEdCert.value_counts()

None of the above          15041
Blank                      13142
High school diploma/GED     4699
Declined                     734
Vocational certificate       132
Vocational license            35
Higher degree                 17
Associate's Degree            10
Bachelor's Degree              6
Name: HighEdCert, dtype: int64

In [27]:
cohort_1.head()

,Wave,StFCID,RepDate_outcomes,OutcmRpt,OutcmDte,OutcmFCS,CurrFTE,CurrPTE,EmplySklls,SocSecrty,...,HlthEdSv,FamSuppSv,MentorSv,SILsv,RmBrdFASv,EducFinaSv,OthrFinaSv,Race,RaceEthn,AgeMP
0,Wave 1: Age 17 Baseline Survey,AK450290395006,2011-03-01,Youth participated,2010-10-08,"Yes, is in FC on Date",No,No,No,"Yes, is receiving SSI or SSDI payments",...,0,0,0,0,0,0,1,1,1,17
1,Wave 1: Age 17 Baseline Survey,AK450290395006,2011-03-01,Youth participated,2010-10-08,"Yes, is in FC on Date",No,No,No,"Yes, is receiving SSI or SSDI payments",...,0,0,0,0,0,0,1,1,1,17
2,Wave 2: Age 19 Followup,AK450290395006,2013-03-01,Youth participated,2012-12-28,"No, is not in FC on Date",No,No,No,No,...,0,0,0,0,0,0,1,1,1,17
3,Wave 2: Age 19 Followup,AK450290395006,2013-03-01,Youth participated,2012-12-28,"No, is not in FC on Date",No,No,No,No,...,0,0,0,0,0,0,1,1,1,17
4,Wave 1: Age 17 Baseline Survey,AK450448396586,2011-03-01,Youth participated,2010-12-28,"Yes, is in FC on Date",No,No,Yes,No,...,0,0,0,0,0,0,0,3,3,17

In [28]:
cohort_1.describe()

,Weight,FY,StFIPS,Sex,AmIAKN,Asian,BlkAfrAm,HawaiiPI,White,RaceUnkn,...,HlthEdSv,FamSuppSv,MentorSv,SILsv,RmBrdFASv,EducFinaSv,OthrFinaSv,Race,RaceEthn,AgeMP
count,19298.000000,34017.0,34017.000000,34017.000000,34017.000000,34017.000000,34017.000000,34017.000000,34017.000000,34017.000000,...,34017.000000,34017.000000,34017.000000,34017.000000,34017.000000,34017.000000,34017.000000,34017.000000,34017.000000,34017.000000
mean,2.586975,2011.0,24.546756,1.508099,0.036658,0.014846,0.347473,0.005174,0.545198,1.109592,...,9.441926,9.380663,9.284652,9.178617,9.182703,9.210542,9.265985,10.954934,4.819620,16.543552
std,2.485643,0.0,16.992185,0.499942,0.187924,0.120936,0.476175,0.071744,0.497960,9.118341,...,24.763954,24.785990,24.820182,24.857457,24.856030,24.846288,24.826781,28.588251,13.976082,0.519542
min,0.700000,2011.0,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,14.000000
25%,NaN,2011.0,6.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,16.000000
50%,NaN,2011.0,22.000000,2.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2.000000,17.000000
75%,NaN,2011.0,36.000000,2.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,...,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,2.000000,6.000000,17.000000
max,80.710000,2011.0,72.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,77.000000,...,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,99.000000,99.000000,20.000000

In [29]:
# Now that I have dataset for cohort_1 in a decent state, I will load this into a local postgres DB for storage

In [30]:
engine = create_engine('postgresql://cguy@localhost:5432/nytd_clean_data')
cohort_1.to_sql('cohort_1', engine)

In [31]:
%load_ext sql
# %reload_ext sql

/Users/cguy/anaconda/lib/python2.7/site-packages/IPython/config.py:13: ShimWarning: The `IPython.config` package has been deprecated. You should import from traitlets.config instead.
  "You should import from traitlets.config instead.", ShimWarning)
/Users/cguy/anaconda/lib/python2.7/site-packages/IPython/utils/traitlets.py:5: UserWarning: IPython.utils.traitlets has moved to a top-level traitlets package.
  warn("IPython.utils.traitlets has moved to a top-level traitlets package.")

In [32]:
%%sql postgresql://cguy@localhost:5432/nytd_clean_data
        
SELECT * FROM cohort_1 LIMIT 5;

5 rows affected.

[(0L, u'Wave 1: Age 17 Baseline Survey', u'AK450290395006', datetime.datetime(2011, 3, 1, 0, 0), u'Youth participated', datetime.datetime(2010, 10, 8, 0, 0), u'Yes, is in FC on Date', u'No', u'No', u'No', u'Yes, is receiving SSI or SSDI payments', u'No', u'No', u'No', u'No', u'No', u'None of the above', u'Yes', u'Yes', u'No', u'Yes', u'No', u'No', u'No', u'Yes', u'No', u"Don't Know", u'Yes', u'Yes', u'No', None, u'Yes', u'Yes', u'Yes', 1.26, u'Responded to Survey', 2011L, datetime.datetime(2011, 9, 1, 0, 0), 2L, u'AK', datetime.datetime(1993, 10, 15, 0, 0), 2L, 0L, 0L, 0L, 0L, 1L, 0L, 0L, 0L, 1L, 0L, 0L, 11L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 1L, 0L, 0L, 0L, 0L, 0L, 0L, 1L, 1L, 1L, 17L),
 (1L, u'Wave 1: Age 17 Baseline Survey', u'AK450290395006', datetime.datetime(2011, 3, 1, 0, 0), u'Youth participated', datetime.datetime(2010, 10, 8, 0, 0), u'Yes, is in FC on Date', u'No', u'No', u'No', u'Yes, is receiving SSI or SSDI payments', u'No', u'No', u'No', u'No', u'No', u'None of the above', u'Yes', u'Yes', u'No', u'Yes', u'No', u'No', u'No', u'Yes', u'No', u"Don't Know", u'Yes', u'Yes', u'No', None, u'Yes', u'Yes', u'Yes', 1.26, u'Responded to Survey', 2011L, datetime.datetime(2011, 3, 1, 0, 0), 2L, u'AK', datetime.datetime(1993, 10, 15, 0, 0), 2L, 0L, 0L, 0L, 0L, 1L, 0L, 0L, 0L, 1L, 0L, 0L, 77L, 77L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 1L, 1L, 1L, 17L),
 (2L, u'Wave 2: Age 19 Followup', u'AK450290395006', datetime.datetime(2013, 3, 1, 0, 0), u'Youth participated', datetime.datetime(2012, 12, 28, 0, 0), u'No, is not in FC on Date', u'No', u'No', u'No', u'No', u'No', u'No', u'Yes', u'No', u'No', u'None of the above', u'No', u'Yes', u'Yes', u'No', u'No', u'No', u'Not Applicable', u'Yes', u'No', u'Not Applicable', u'Not Applicable', u'Not Applicable', u'No', u'No', u'Yes', u'Yes', u'Yes', 1.58, u'Responded to Survey', 2011L, datetime.datetime(2011, 9, 1, 0, 0), 2L, u'AK', datetime.datetime(1993, 10, 15, 0, 0), 2L, 0L, 0L, 0L, 0L, 1L, 0L, 0L, 0L, 1L, 0L, 0L, 11L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 1L, 0L, 0L, 0L, 0L, 0L, 0L, 1L, 1L, 1L, 17L),
 (3L, u'Wave 2: Age 19 Followup', u'AK450290395006', datetime.datetime(2013, 3, 1, 0, 0), u'Youth participated', datetime.datetime(2012, 12, 28, 0, 0), u'No, is not in FC on Date', u'No', u'No', u'No', u'No', u'No', u'No', u'Yes', u'No', u'No', u'None of the above', u'No', u'Yes', u'Yes', u'No', u'No', u'No', u'Not Applicable', u'Yes', u'No', u'Not Applicable', u'Not Applicable', u'Not Applicable', u'No', u'No', u'Yes', u'Yes', u'Yes', 1.58, u'Responded to Survey', 2011L, datetime.datetime(2011, 3, 1, 0, 0), 2L, u'AK', datetime.datetime(1993, 10, 15, 0, 0), 2L, 0L, 0L, 0L, 0L, 1L, 0L, 0L, 0L, 1L, 0L, 0L, 77L, 77L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 1L, 1L, 1L, 17L),
 (4L, u'Wave 1: Age 17 Baseline Survey', u'AK450448396586', datetime.datetime(2011, 3, 1, 0, 0), u'Youth participated', datetime.datetime(2010, 12, 28, 0, 0), u'Yes, is in FC on Date', u'No', u'No', u'Yes', u'No', u'No', u'Yes', u'Yes', u'Yes', u'No', u'None of the above', u'Yes', u'Yes', u'No', u'No', u'No', u'No', u'Not Applicable', u'No', u'No', u'No', u'No', u'No', u'No', None, u'Yes', u'Yes', u'Yes', 1.36, u'Responded to Survey', 2011L, datetime.datetime(2011, 9, 1, 0, 0), 2L, u'AK', datetime.datetime(1993, 12, 15, 0, 0), 2L, 1L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 1L, 1L, 0L, 11L, 0L, 1L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 3L, 3L, 17L)]

# Now Cohort 2

In [33]:
# For cohort 2, only need services data for FY 2014

cohort_2 = services_11_14[services_11_14.FY == 2014]
cohort_2 = cohort_2.drop(['RecNumbr','LclFIPSsv'],axis= 1)

# For now, I only want to examine data for foster youth who are in W1

cohort_2.rename(columns={'RepDate':'RepDate_services'}, inplace=True)

outcomes_2014_keep = outcomes_2014.drop(['stfips','st','recnumbr','dob','sex','amiakn','asian','blkafram',\
                                         'hawaiipi','white','raceunkn','racedcln','hisorgin','race','raceethn'], axis=1)

outcomes_2014_keep.rename(columns={'repdate':'RepDate_outcomes', 'stfcid': 'StFCID'}, inplace=True)

cohort_2 = pd.merge(outcomes_2014_keep, cohort_2, on='StFCID', how='inner')

In [34]:
# Issue with encoding the tracking ID (StFIPS). Need to drop states that have the issue: HI, IN, KY, MS, OR, TX, TN
# bad_encode_states = ["HI", "IN", "KY", "MS", "OR", "TX", "TN"]
cohort_2 = cohort_2[cohort_2.St != "HI"]
cohort_2 = cohort_2[cohort_2.St != "IN"]
cohort_2 = cohort_2[cohort_2.St != "KY"]
cohort_2 = cohort_2[cohort_2.St != "MS"]
cohort_2 = cohort_2[cohort_2.St != "OR"]
cohort_2 = cohort_2[cohort_2.St != "TX"]
cohort_2 = cohort_2[cohort_2.St != "TN"]

dict(cohort_2.StFCID.value_counts())

{'MD100450694537': 1,
 'KS0A0A0B2G2E1I': 1,
 'IAN7ZNYMPIW4LH': 1,
 'CA003pCp0Fx4wm': 1,
 'NY241689189020': 2,
 'CA0080UqO7JAhd': 2,
 'CA00ICZpZY37S9': 2,
 'WA002D3PXD55JI': 2,
 'LAXXXCZZIGXCAA': 2,
 'AZ003000931714': 1,
 'CA005VFguhO196': 2,
 'CA002mA9a8PC06': 2,
 'CA004i6FjUG7XZ': 1,
 'NY241624566030': 2,
 'CA00HuyN4GsDR5': 2,
 'IL000067021290': 1,
 'OK005922257221': 1,
 'NC979948199989': 1,
 'IAN7ZNY0YKB4CH': 2,
 'PAYKC6DLQHUERG': 2,
 'UT000029414495': 1,
 'CA005b5aFDm5mf': 2,
 'NE305134024444': 2,
 'NY251184704180': 2,
 'LAXXXCZGZCAZAS': 2,
 'NV200000203058': 1,
 'MI000044261489': 1,
 'CA004O8s9EF5EE': 2,
 'CA00OfoQ30k4tA': 2,
 'FL310007596201': 2,
 'LAXXXCZZPSHZSH': 2,
 'KS0A0A0B2G9G6H': 1,
 'MO204573099316': 1,
 'PAJKCTML8KVNRG': 2,
 'MD100458295199': 1,
 'WISMOVO4ZQ5WH8': 1,
 'PAYKIVMLQAU6RG': 1,
 'VA214720242201': 2,
 'OHGB7SKN6TFHP9': 2,
 'MO923567227702': 2,
 'LAXXXCZZSAHGGC': 2,
 'NY241733632050': 2,
 'PAYKY08LQJU6RG': 1,
 'CA00U2tCu97AS2': 2,
 'MD100458238645': 1,
 'IAN7ZNY0LKFVCH': 1,
 'ND599909669696': 2,
 'MO725725019416': 2,
 'FL020002264201': 2,
 'NY241817406080': 2,
 'AR000345932871': 1,
 'GA100010000858': 2,
 'CA000ebtmbK3tZ': 2,
 'CA00ICz5GZ36lq': 1,
 'FL010008225101': 2,
 'CA00QL7Yp1Y0SR': 2,
 'CA00GND3YSw3oV': 2,
 'MO926777476912': 2,
 'CA00PDDgdFIITR': 2,
 'OHGBOSK46VY9PB': 1,
 'OHGTXS6YJ77FY9': 2,
 'GA700010489769': 2,
 'CA0020cKu9S8aR': 2,
 'PAYKIT0LQA06RG': 1,
 'VA212725292243': 2,
 'CA007y6PPPO196': 2,
 'NC979936152364': 2,
 'AR000851731602': 2,
 'SC000814085633': 2,
 'LAXXXCZGPXHXSA': 2,
 'WA002D3MXWL5SO': 2,
 'CA00QLjpYeREah': 1,
 'CA00RzFST7S6Cm': 1,
 'CA00E79671HBmR': 1,
 'WA002G3JXTFRSI': 1,
 'CA00HbZRG9392i': 2,
 'CA00MxlTf6Y4Z4': 2,
 'PA2KY71LLF3CRG': 2,
 'CA001DohzX83sO': 2,
 'CA0037dMBEvCrp': 2,
 'AZ003000410556': 1,
 'CA00IY16kAU4z0': 1,
 'CA00Ekhdgu00kC': 2,
 'CA00Dz6y9oDDeC': 2,
 'SC000857605432': 2,
 'CA00L3ynWFm6Au': 2,
 'MD100458650476': 1,
 'CA00NhBIj90195': 2,
 'WA002D3M0DFUVT': 2,
 'CA00KZH3Q9uBcw': 2,
 'CA00MIm98DiENr': 2,
 'OK002027276254': 1,
 'LAXXXCZZSHIASH': 2,
 'ID010105450800': 2,
 'LAXXXCZGAOHCSG': 2,
 'SC000137495730': 2,
 'MA000410080899': 1,
 'CA00R3tLzcMAS2': 2,
 'WA002D3SJN19SI': 1,
 'FL820001858401': 2,
 'NY262488908020': 2,
 'GA000010920474': 2,
 'CA00GHGwS3e6VR': 2,
 'PAYKF60LQH55RG': 1,
 'GA100010312628': 2,
 'CA006fIz6VyFhR': 2,
 'WA002D3M2JF4SI': 2,
 'PAYKYG7LQO35RG': 2,
 'MO903963347212': 1,
 'CA00JHbzPrc0V1': 2,
 'CA0034xMSe7A16': 2,
 'IL000197463893': 1,
 'CA00JFVyqB26pl': 2,
 'NY241883769250': 1,
 'WISMOVOT8UEZHX': 1,
 'CA005zYBES9FYb': 1,
 'ME000001219154': 1,
 'NY241920295050': 2,
 'ND699909959398': 1,
 'NV610000800731': 1,
 'AR000672362313': 2,
 'CA00T8Zqy2f3b4': 1,
 'GA700010511805': 2,
 'NY261339642220': 2,
 'CA005tW6hV34AI': 1,
 'NY251720581180': 2,
 'SC000977915431': 2,
 'CA00NIePllC199': 2,
 'KS0A0A0B2F4I9G': 2,
 'AZ005000788494': 2,
 'CA00FXM7pBhDgT': 1,
 'MO748690726412': 2,
 'OHGBOSK4BYDDJB': 1,
 'MI000087970969': 1,
 'GA600010805998': 2,
 'NY251354531190': 2,
 'CA00Ghs6inHCOp': 2,
 'IL000203721790': 2,
 'FL800007199601': 1,
 'LAXXXCZGZCZXPA': 2,
 'CA00JAoSHUV7jE': 2,
 'CA00KzJqd7a195': 2,
 'CA00OZPoPxN8J7': 1,
 'UT000030167299': 2,
 'GA006706962201': 2,
 'NM792774899999': 1,
 'GA700010660592': 1,
 'CA0059Fni9A0Ut': 2,
 'ID040009758670': 2,
 'CA00G5LA3rhFPJ': 1,
 'CA008PqmeXf2My': 2,
 'SC000847995838': 2,
 'DEAAAAAAHEHMKM': 2,
 'PR14093931367': 1,
 'CA00SFDn53wJx3': 2,
 'CA00ATj5nfo7ZO': 2,
 'NY262447541180': 2,
 'CA006zPId3n6eP': 2,
 'VA212128212205': 1,
 'UT000090286499': 2,
 'KS0A0A0B2F1C3I': 1,
 'CA00Qm0ccIfG1o': 2,
 'OK000029217261': 1,
 'RI610744899999': 1,
 'OK008328227206': 2,
 'CA00Cu7zyWf5P4': 2,
 'MI000042841761': 1,
 'GA600010019905': 2,
 'CA00NwZM4t6CKo': 1,
 'MO911068242247': 2,
 'OHGB7SKNTVHB2B': 1,
 'IAN7ZNYMN8EVVT': 2,
 'GA700010451786': 2,
 'CA00JIEIBA6AFo': 2,
 'RI123835899999': 1,
 'OK001828200213': 1,
 'NC979927386708': 2,
 'NY262401626250': 2,
 'PAYKC0VLQFVQRG': 2,
 'MI000096498189': 2,
 'SC000507375136': 2,
 'RI857998899999': 2,
 'CA00LQ1HdY145F': 2,
 'CA00Gr2sIHsGh8': 1,
 'CA005zdtDK8Egm': 1,
 'OK001224266240': 2,
 'CA009HITkI05Ch': 2,
 'NC979928915083': 2,
 'MI003327355201': 2,
 'CA00EpI40orC8p': 1,
 'NE497585034444': 2,
 'OK004122259213': 1,
 'NY251221547010': 2,
 'SC000497855138': 2,
 'FL793581010289': 1,
 'AR000460022073': 2,
 'CA00KUa3gp7JTL': 2,
 'KS0A0A0B5D8D0E': 1,
 'CA00PJBpoht2Lf': 2,
 'NY241590959140': 2,
 'NE220557354444': 2,
 'NY241692185240': 1,
 'CA0060adCNa6dG': 2,
 'GA800010735117': 1,
 'MO936676166712': 1,
 'OHGB7SKNJLLFJF': 2,
 'WISMOVOT7VLN60': 1,
 'RI467877999999': 1,
 'CA00K1mLbm09FG': 2,
 'CA00PQzX8Qj07S': 2,
 'NE292166134444': 1,
 'MI009708862601': 1,
 'GA800010991295': 1,
 'OK007521234249': 2,
 'FL620004675401': 1,
 'MO659798472617': 1,
 'OK002825264296': 1,
 'CA000EG1rt4192': 2,
 'KS0A0A0B2E1G0C': 2,
 'CA00TRYiOML6dG': 2,
 'NC979942436093': 1,
 'ME000003222234': 1,
 'CA00FjHJdbx9Eo': 1,
 'SC000587605431': 1,
 'GA100010008401': 2,
 'CA00JYLEwTU1Lw': 2,
 'CA00FlxaRy3BeO': 2,
 'CA00CH3Gonj3t5': 2,
 'MO262697497806': 2,
 'AR0000*9340209': 2,
 'IAN7ZNYM08H7Z0': 2,
 'MA000493072705': 1,
 'CA00Rj22zgM2O2': 2,
 'UT000090299894': 1,
 'CA00570Qmfp63O': 1,
 'WA002D3M0K5C0Z': 1,
 'UT000099186892': 2,
 'GA100010030375': 2,
 'MA000499512172': 1,
 'GA100010827619': 2,
 'CA002vHZqsl5Ch': 1,
 'CA000LG6QaWAns': 2,
 'CO000225663164': 1,
 'MD100458802785': 1,
 'PAJKJ0ML8KVURG': 2,
 'GA900000226465': 2,
 'CA004YIDVUh0Jc': 2,
 'NY241652093220': 2,
 'GA002302034901': 2,
 'AZ006000804518': 1,
 'IAN7ZNYM0N340P': 2,
 'CA00NgzQF2lCL6': 2,
 'IAN7ZNYMPHEQZS': 2,
 'CA00AMVmbuD37S': 2,
 'AK453621528318': 1,
 'CA00CMutAsiJUc': 2,
 'AZ008000468824': 1,
 'GA000010302787': 1,
 'IAN7ZNYMLQM4OA': 1,
 'OK005021277271': 1,
 'NE438803444444': 2,
 'PAYKWWMLQA0ERG': 1,
 'CO000226090414': 2,
 'KS0A0A0B2A3D5F': 2,
 'CA00M2dZSxK4w7': 2,
 'CA00MlJhujgBp1': 2,
 'AK457644768550': 1,
 'CA00G6n8Yqq4ot': 2,
 'WISMOVO4N6DZ40': 1,
 'CA00MDbCVo19ck': 1,
 'IAN7ZNYMPIE8VH': 2,
 'NY250664078180': 2,
 'FL600007980701': 2,
 'CA00MhCGxP736B': 2,
 'WISMOVODV4Z64H': 1,
 'MO629194072207': 1,
 'NY241888106230': 1,
 'GA800010697027': 2,
 'CA00HeDGRUX5Du': 2,
 'MA000499914319': 1,
 'PR1408361560': 2,
 'OK001525264285': 2,
 'GA000010304634': 2,
 'MTAPMQ8BKRVOK2': 2,
 'CA00MBcD1wv5EE': 1,
 'CA00GifgXL734A': 2,
 'NY241894962210': 1,
 'NE356277364444': 1,
 'CA00O57cHASA6L': 2,
 'MO720623146719': 1,
 'SC000824135431': 2,
 'GA000010000575': 2,
 'CA00EaEjBS1AEx': 2,
 'FL310002219701': 1,
 'NY260578938080': 2,
 'FL320009980201': 1,
 'MI000017729989': 1,
 'PAYKY07LQK5ERG': 1,
 'CA00TazPbvv16W': 2,
 'IAN7ZNY0YIUQVN': 1,
 'MN1EBLZV9SQ0OB': 1,
 'CA00ESDWYjb0Q0': 2,
 'CA000KfP4bYItD': 2,
 'CA00IX6sHGyJma': 1,
 'NY252272248150': 2,
 'VA290723222247': 2,
 'CA007vy6sIC74v': 2,
 'GA800010956608': 2,
 'OHGB7SKBJDFYLB': 2,
 'AR000736472034': 2,
 'PAYKAI0LQHC5RG': 2,
 'NY241876210180': 2,
 'CA001sOD7RZ2bX': 2,
 'OHGBOSK4VLFDJB': 2,
 'OK009222289200': 1,
 'IAN7ZNY0Y6HFMP': 2,
 'RI353945899999': 2,
 'CA005GUnFu2BPO': 1,
 'NY261646439130': 2,
 'AZ003000908558': 1,
 'AZ008000096464': 2,
 'CA003thqkBL70m': 1,
 'CA00OkMrhuj45p': 2,
 'MD100450672063': 1,
 'CA00Tptg7YA4s1': 2,
 'CA00A9YRzqj3TU': 2,
 'CA005wUHDvKBgV': 1,
 'CA00CbiWyUI5UB': 2,
 'ME000004894133': 2,
 'MI000051159099': 2,
 'CA004cEraDw841': 2,
 'CA006zBaLNJ5E6': 1,
 'OHGJ2XKRJLTJY9': 2,
 'CA00NzNszZZKfN': 1,
 'ME000007183906': 2,
 'MN1QSWKRABO0OB': 1,
 'CA006fgBY9HIfU': 2,
 'CA00KQdfzEc8Gq': 2,
 'CA00GpiHdWl5dP': 2,
 'NV510000702020': 2,
 'CO000223504363': 2,
 'CA00B4FM3zMCQb': 2,
 'CA00KjZhFGL0kC': 2,
 'VA250825252243': 1,
 'MO212998287516': 2,
 'VA218628212234': 1,
 'FL200005620201': 2,
 'RI295586899999': 2,
 'SC000637955038': 2,
 'IAN7ZNYM3NB5KH': 2,
 'NY012290446140': 2,
 'KS0A0A0B2A3F2C': 1,
 'NY260653663190': 1,
 'AR000392022222': 2,
 'CA00DNOKsDh2UE': 1,
 'SC000287395133': 1,
 'OHGB7SKNFL7HJJ': 1,
 'GA010101144901': 2,
 'RI886766899999': 1,
 'CA00Hy590N85mG': 2,
 'MN1HIVR3MWI0OB': 1,
 'VA281628222260': 1,
 'KS0A0A0D4H9C3I': 1,
 'CA00IW72ZrZ8ba': 2,
 'VA219822292287': 1,
 'MO217976646219': 2,
 'CA004upqcoT5Q0': 1,
 'CA001pxHmqFI54': 2,
 'AR000383312823': 2,
 'GA006904463102': 2,
 'NV510000403006': 1,
 'CA00TaxRj4j1VY': 1,
 'CA00S6hpg5oC4r': 2,
 'VA289723202206': 2,
 'PAYKDT7LQPV5RG': 2,
 'NV110000803531': 1,
 'LAXXXCZGAPXCAP': 2,
 'NY241797262240': 1,
 'CA00GTVepQy4jJ': 1,
 'OK004025287238': 1,
 'CA00LyyWnbh72f': 2,
 'NC979944755797': 1,
 'MD100450460426': 1,
 'NC979923808057': 1,
 'CA00DdYt6pl6kB': 1,
 'CA00GdWKShC5Cx': 1,
 'FL521771000069': 2,
 'CA00QvbEGrNG1o': 2,
 'CA00PLtWAbt4y1': 2,
 'MO287679736119': 1,
 'AR000758074944': 1,
 'NY241945454260': 2,
 'PAYKI6DLQHUERG': 2,
 'CA00SxVoBHQ5Df': 2,
 'OK000720217260': 1,
 'CA00AbkMhqL5Dj': 1,
 'FL600006598301': 2,
 'CA004bzmL1gAzW': 2,
 'NE432746794444': 1,
 'LAXXXCZOHAPCAZ': 1,
 'MA000490320878': 1,
 'FL620001068901': 1,
 'OK008623247298': 2,
 'CA001legX1P5Dk': 2,
 'MN1K96JT8IO0OB': 1,
 'NY251170945110': 2,
 'IAN7ZNY0L6H8KR': 1,
 'CA005uTd1ln5eq': 1,
 'CA00HTzLpSIH4Y': 2,
 'CA000BIgbtNFvr': 2,
 'GA100010946480': 2,
 'NY252576590050': 2,
 'NY241784559240': 2,
 'CA006hY2spDIyO': 2,
 'CA000gugfvB9OX': 2,
 'MD100450462366': 1,
 'CO000223225282': 1,
 'NH222320202266': 1,
 'CA00AVjwn096cS': 2,
 'CO000207658922': 2,
 'GA006044913204': 2,
 'CA00FdA3wbS193': 2,
 'OK001221276270': 2,
 'PAYK7W7LQP05RG': 2,
 'CA00CZiDbio3Yq': 2,
 'CA00CUFIsGB5Ds': 2,
 'CA006Xvw0cL2Ld': 2,
 'CA007vwHK9i5GR': 2,
 'SC000844935032': 2,
 'LAXXXCZGZIGGPI': 2,
 'CA00CkLt02RDPR': 2,
 'CA0057LGnIH38A': 2,
 'CA00NYI8w4hFhc': 2,
 'NY242031633030': 2,
 'WA002D3M2JI42W': 2,
 'WA002D3P2Z5FJT': 1,
 'ID090001551170': 2,
 'MO264672899506': 2,
 'VA252029272249': 2,
 'IAN7ZNYMERH40B': 1,
 'AZ006000678867': 2,
 'MI002319859001': 1,
 'CA00TDAo2qQ9k6': 1,
 'CA008WVGmg6196': 2,
 'CA008Tsb4a69rU': 2,
 'SC000497755531': 2,
 'MD100459667474': 1,
 'NY242009102020': 2,
 'CO000224962587': 1,
 'CA00JQU3aZJ3RK': 1,
 'OHGB7SKV6YBNPL': 2,
 'CA00QHU8kyY192': 2,
 'CA00E8WJsqE9Ma': 2,
 'LAXXXCZGCSIOOP': 2,
 'NY251528661180': 2,
 'CA003OZcsWO0C5': 2,
 'UT000034911197': 1,
 'PAYKJGCLQQCPRG': 2,
 'AR000520713732': 2,
 'CA001BYmVtQ1nH': 2,
 'AK456876060863': 2,
 'MI000047289989': 1,
 'LAXXXCZGCSIOOA': 2,
 'WISMOVO4PVA542': 1,
 'OK005727267201': 2,
 'VA212821222246': 2,
 'MD100458953369': 1,
 'GA100010043633': 1,
 'OK008425217211': 2,
 'OHGLA5CRJ7LFY9': 1,
 'MI000094283879': 1,
 'OK004926227294': 1,
 'WA002D3PMJ1R16': 2,
 'SDOC0OC09GTYXL': 2,
 'MI000001274351': 1,
 'NE380285144444': 1,
 'PAYK3VMLQP4QRG': 2,
 'CA00H1YLTYQ3sC': 2,
 'NV110000701271': 1,
 'MO689896232857': 1,
 'PAYKFW5LQAU5RG': 1,
 'CA00PGtsiNb5nH': 2,
 'WISMOVOTNZ0NT0': 1,
 'CA00Pmc6FBB3oC': 1,
 'MD100457483960': 1,
 'CA00QeXgUVe5xu': 1,
 'SC000494005439': 2,
 'MN1W21ONCEH0OB': 1,
 'MO981669202007': 1,
 'CA00IeELBIgCfj': 2,
 'WY000002594564': 2,
 'MD100450532905': 1,
 'VT000000014091': 1,
 'CA00FNYw5LNJg0': 2,
 'CA00R6C6yKN0VJ': 1,
 'OK003220264202': 1,
 'PAYKJ25LQJW5RG': 2,
 'AR000926002302': 1,
 'CA00GAOaSvGGt8': 2,
 'UT000028888094': 1,
 'CA00Qlya80EAA8': 1,
 'PAYKAI7LQFC6RG': 1,
 'CA00KN3fAHJ194': 2,
 'OHGBOSK4TJYPND': 2,
 'CA00M9eU8QBAzi': 2,
 'CA00RnthPgW9du': 2,
 'GA700010047670': 2,
 'CA007t6zZVB2AW': 2,
 'PR14913047068': 2,
 'CA00NWeBbWb5Jb': 1,
 'GA900000827072': 2,
 'CA0024sqoSI2MK': 2,
 'IAN7ZNYM88FPLT': 1,
 'CA00U4RE4Gn5Us': 1,
 'PAYK7IDLQQVQRG': 1,
 'AR000480872091': 2,
 'CA00KpQEBQc9hu': 1,
 'CA009m5dogXE6H': 2,
 'OHGN7SK4VHJBY9': 2,
 'OK009325274273': 1,
 'CA003COrgF16uL': 2,
 'CA00L4b82Ij2S9': 2,
 'PAYK3TMLQQ06RG': 1,
 'GA700010677657': 1,
 'KS0A0A0B9D9B9D': 1,
 'WISMOVOTSQ55G8': 1,
 'OHGB7SKBBBJD29': 1,
 'NV510000203677': 1,
 'ND699959289597': 2,
 'IAN7ZNY0HHL7ZN': 1,
 'CO000224881282': 2,
 'NE117296074444': 2,
 'UT000029351292': 1,
 'CA00SRFMyEj197': 1,
 'PAYKF25LQO05RG': 2,
 'AR000828584991': 1,
 'PAYKJMRLTM05RG': 2,
 'NJS2C0WNN90NMW': 1,
 'CA00Haz5KmB6uL': 1,
 'CA007vAfTKU4wm': 2,
 'OHGBOSK4VHFNJN': 2,
 'MO705720989146': 2,
 'PAYKCW5LQKU6RG': 1,
 'MI000030582379': 1,
 'OHGB7SK4YDFHVL': 2,
 'CA00D3e344L2en': 1,
 'CA00TAdsoFz5xC': 2,
 'PAYKCTVLQFW5RG': 2,
 'MN1U7A4ZI780OB': 1,
 'CA00KR3ke1kFjK': 2,
 'RI057909899999': 1,
 'CA00JZx7gGB0jJ': 2,
 'CA009xHjHNCCR3': 1,
 'FL710000183101': 2,
 'GA011502123901': 1,
 'CA008rJ1iXr9GW': 2,
 'MO775522999706': 1,
 'OHGBOSK4THVY2J': 2,
 'CA00OXqSMeV5Cn': 1,
 'OHGB7SKN6VFYPY': 2,
 'MI000076369782': 1,
 'IL000108433691': 1,
 'NV310000706644': 2,
 'NY241894408010': 2,
 'LAXXXCZOASOIZI': 1,
 'MI000092018720': 1,
 'MTDIMQ8K7RVOKM': 1,
 'ME000003299244': 1,
 'RI018375899999': 2,
 'CA00Dg7Imyy3Gq': 1,
 'SC000947555936': 2,
 'OK009324217218': 1,
 'NY262392674220': 2,
 'CA00OmNhP7s15u': 1,
 'CA00BpZXi4v9Z3': 1,
 'MTQNMQIBGRVOK2': 2,
 'CA003fGJG4j5nJ': 2,
 'IAN7ZNY008BH3B': 1,
 'GA800010551221': 2,
 'CA00DcB4y1p6zN': 1,
 'MI000023380682': 1,
 'MO966671746012': 1,
 'AZ004000544519': 1,
 'ND599939329693': 1,
 'IAN7ZNY0YH37ZN': 1,
 'CA009TLJ0CX5RA': 2,
 'IAN7ZNY0LRW73B': 2,
 'CO000215804437': 1,
 'AR000628673292': 2,
 'CA00Josz6t13iu': 2,
 'CA00LdF2FGH9TP': 2,
 'WA002D3PVQ58XW': 2,
 'UT000025116492': 1,
 'WA002D3M1QOF0I': 2,
 'IAN7ZNY0HBE8MB': 2,
 'MO669790112517': 2,
 'WISMOVODZ3509H': 1,
 'OHGB7SK4T7FY2B': 2,
 'FL255411000679': 2,
 'CA008bentDF4zC': 1,
 'ND699979729994': 1,
 'AK450876000863': 1,
 'CA00FpmubTuJVG': 1,
 'GA600010868969': 1,
 'RI480575899999': 1,
 'FL210008952601': 1,
 'IAN7ZNY0YNMV0T': 2,
 'NC979949222773': 1,
 'NY241582153210': 2,
 'GA100010276310': 1,
 'CA00CLzpBRUCOl': 2,
 'AZ000000291407': 1,
 'MI000003582772': 1,
 'CA0036wDBfQ7OF': 2,
 'WA002D3MVDO2JI': 2,
 'AR000288263634': 2,
 'FL721879624901': 2,
 'CA008pdkuKI6d0': 2,
 'NJS2C0WNWM001U': 2,
 'CO000226086211': 2,
 'DEAAAAAAKTVATZ': 1,
 'KS0A0A0B2H1B5J': 2,
 'IAN7ZNYMNQOKZB': 2,
 'SDOC0OC0BEMXSK': 2,
 'CA00Isiw7J66u7': 2,
 'SC000457875332': 1,
 'CA00QnohzcUBuJ': 2,
 'CA00QeyKToo3XI': 2,
 'DC220524232298': 1,
 'CA005IM39zn5il': 2,
 'NC979934905662': 1,
 'NY250682387030': 2,
 'PAJKD7DLTJCCRG': 2,
 'CA00MXOUe7c5Jb': 1,
 'MD100458877175': 1,
 'CA00OwpmfYRASS': 1,
 'CA00Q1UcguW5vN': 2,
 'NY241917858010': 2,
 'UT000021474590': 1,
 'VA288025242229': 1,
 'CA00Qh3lS0fJVG': 1,
 'NY251562190160': 2,
 'KS0A0A0C0E1B3H': 2,
 'MN1QSWKRAPJ0OB': 1,
 'MI000016882289': 1,
 'OHGB7SKPDTDPBN': 1,
 'LAXXXCZAXOXPOO': 2,
 'GA100010873620': 2,
 'CA00B7dPX9sC2O': 1,
 'ID080007757970': 2,
 'NY260389076160': 1,
 'NE643063314444': 1,
 'UT000019406893': 1,
 'KS0A0A0B4C7C3H': 1,
 'CO000226098522': 2,
 'CA00GLkEnea9Z3': 2,
 'CA00GaOraV25Dk': 2,
 'IAN7ZNYM3HH51P': 2,
 'CA00EaZmNYV70O': 2,
 'NY261785471210': 2,
 'DEAAAAAAVTKAEZ': 2,
 'MO943762557912': 2,
 'WA002D3M2ALR2F': 2,
 'SDOC0OC17HTZYM': 2,
 'NC979944623699': 2,
 'PR14868617968': 2,
 'SC000624615731': 2,
 'IAN7ZNYMLQE4CH': 2,
 'NM464441899999': 1,
 'WA002D3PMG0R0Z': 2,
 'SC000794375331': 2,
 'CA00SlU5V8i94v': 1,
 'IAN7ZNYM86LVOS': 2,
 'CA006EZofkx3Ek': 2,
 'OHGB7SKRFLLYTB': 1,
 'CA005BanEAh5Ps': 2,
 'AR000938402811': 2,
 'GA700010488088': 2,
 'SDOC0OC08JU1VP': 2,
 'CA00QBko73R01S': 2,
 'IAN7ZNYM86LVOA': 2,
 'NC979951948843': 2,
 'CA00ICvejp57Dm': 1,
 'ND399979339996': 2,
 'AZ006000721766': 2,
 'MI000002580867': 1,
 'IAN7ZNYMHKLKC0': 2,
 'CA004hFzaLL5Ch': 1,
 'MD100459710728': 1,
 'CA000Jo2YPWBgV': 2,
 'AZ005000172877': 1,
 'CO000226073146': 2,
 'MD100450773683': 1,
 'FL523381000709': 1,
 'NV610000400490': 1,
 'KS0A0A0B2E1B6E': 2,
 'WISMOVODZUS04Q': 1,
 'UT000020243592': 1,
 'NJS2C0R8NUTNOW': 1,
 'PR147996421': 2,
 'AR000679693734': 2,
 'WA002G3JPAL80Z': 1,
 'CA003IFJfSU2Sj': 1,
 'NE284624814444': 2,
 'UT000028907997': 1,
 'NY241736339150': 2,
 'CA00PPIjSGz2hL': 2,
 'MI000077580979': 1,
 'CA00GCmSjP48SW': 2,
 'LAXXXCZGCGPIAG': 2,
 'CA00BBxfgb95xu': 1,
 'RI447149899999': 2,
 'AZ001001763197': 2,
 'WA002D3M2T131B': 2,
 'FL010008530601': 1,
 'CA00SNRbScT0Z6': 1,
 'MN1EFEXJDIN0OB': 2,
 'OHGBOSK4YYLFPF': 2,
 'MN1TU25DSNJ0OB': 2,
 'OHGB7SK4DFTNPD': 2,
 'LAXXXCZGACGOII': 1,
 'NE668745224444': 1,
 'AZ002000714571': 1,
 'NY261419000210': 2,
 'CA00LDOzs1K3tX': 1,
 'CA00NAEjYzU42H': 2,
 'PAYKYIDLQHUQRG': 2,
 'CO000208065381': 2,
 'IAN7ZNYMLLOQ3A': 2,
 'AR000*23502243': 2,
 'GA700010306024': 2,
 'CA00S6lCseA191': 1,
 'MI000038417389': 2,
 'MN1RYHW0VO80OB': 1,
 'MO961769912517': 1,
 'CA00HBAkYzHAYx': 1,
 'CA009Ik8NpRHyZ': 1,
 'CO000223667698': 2,
 'MD100458882607': 1,
 'OK005421217299': 1,
 'MO758796966312': 1,
 'AK454640538508': 2,
 'MI001105369301': 2,
 'OK001229236235': 1,
 'AZ009000762605': 2,
 'CA00T7io5uvA15': 2,
 'CA00HJf31bF3n4': 2,
 'CA00T8x8Exx6dG': 2,
 'CA001K92alrC2R': 1,
 'NY252358968160': 2,
 'CA000mdkUKN2Ld': 1,
 'OHGB7SKDJYFPRN': 2,
 'ME000002299604': 2,
 'ME000009778594': 1,
 'CA00CkiMP775Aj': 1,
 'MTN3MQLJGRVOKH': 2,
 'NV010000802919': 1,
 'FL372011010239': 2,
 'CA007xUK6NaBS0': 2,
 'MI000005507242': 1,
 'SDOC0OC0CJVXSM': 2,
 'FL357101010259': 1,
 'CA007TdudbB4c8': 2,
 'CA004aAM1KL01S': 2,
 'CA00GE6lUuwDys': 1,
 'CA007mAtfnw5Ch': 2,
 'NY252208818150': 2,
 'CA005i4T9wS5Cn': 2,
 'VA210326282236': 2,
 'CA006jKRXN57G8': 2,
 'GA000010040724': 1,
 'CA00BrQUlrBGUs': 1,
 'CA00T5pKyDR30A': 2,
 'LAXXXCZACZIISC': 1,
 'PAYK7T0LQJ45RG': 1,
 'ND499949739795': 1,
 'VA295127212232': 1,
 'OHGB7SKBJTJ9PF': 2,
 'ND699999689691': 1,
 'FL122501597601': 1,
 'IAN7ZNYMEHE4OW': 1,
 'CA005Je35TCA17': 2,
 'CA00MEyqw2Z63f': 1,
 'MI000036859089': 1,
 'OK000721207247': 2,
 'NY251958539150': 2,
 'CA000W1OvPf5DT': 2,
 'CA0085CJAqZDDC': 1,
 'CA00RXvAHLrF9R': 1,
 'CA00FtT9XEI3Or': 2,
 'WA002D3P1NO22I': 1,
 'MI000001190303': 1,
 'MO780824086259': 1,
 'NE900436124444': 2,
 'CA00KdBtGfR197': 2,
 'KS0A0A0B1I7H5D': 2,
 'MO649991132617': 2,
 'SC000597575331': 2,
 'NV500000200884': 2,
 'CA002Bs26aX5On': 1,
 'CA008hgj06ZD3U': 1,
 'GA009203774201': 2,
 'WV248426232254': 2,
 'SC000257485238': 2,
 'LAXXXCZZACPPGI': 2,
 'WISMOVO4SZJJ4R': 1,
 'MN18KLIDEHL0OB': 2,
 'NY262615829080': 2,
 'NV610000400358': 1,
 'UT000022454796': 1,
 'MI000070444969': 1,
 'MI000095171789': 2,
 'CA009DkUNxk3U9': 2,
 'NY241757156180': 1,
 'NY252468726250': 2,
 'AR000180052044': 2,
 'AR000461622282': 1,
 'MD100459409292': 1,
 'CA00IGSUSyT2Un': 2,
 'OHGB7SKVD7HHVN': 1,
 'NE039869044444': 2,
 'NY241851869050': 2,
 'SC000624485832': 1,
 'IAN7ZNY0YNWH1B': 1,
 'MO931765972417': 2,
 'CA009T8pXtDG71': 2,
 'RI712956899999': 1,
 'CO000223240884': 1,
 'CA002lMgUwl2k5': 1,
 'FL150306356701': 1,
 'NV710000904589': 1,
 'NY250507814090': 2,
 'GA100010935729': 2,
 'LAXXXCZZCPAZAC': 2,
 'LAXXXCZZGOOAPA': 2,
 'GA003101908203': 2,
 'MN11FVQPDUO0OB': 1,
 'GA007100124001': 1,
 'CA003q9IgQzKel': 2,
 'LAXXXCZASCAPAI': 2,
 'CA00OOxU1AvB4I': 2,
 'PAYKJTCLQQU6RG': 1,
 'ME000006698944': 2,
 'MI000091753093': 1,
 'NV110000401680': 1,
 'CA00Qx6vHMXKLr': 2,
 'CA00Insvh353tc': 2,
 'NC979934741134': 1,
 'LAXXXCZASPIXPI': 2,
 'GA006302907801': 2,
 'CA00HYKhYjGAxT': 2,
 'NY262187912140': 2,
 'CA00PVftRJpIzB': 2,
 'NY261840374030': 2,
 'MN1Z03F9X870OB': 2,
 'OK008327269282': 2,
 'MD100458405156': 1,
 'NY012306675240': 1,
 'CA00Fy1GpS3Bp1': 2,
 'CA00HZj09ZP5Ps': 2,
 'CA005GaDZBJ36B': 2,
 'NY241854225060': 1,
 'CA001fAwWb15qq': 2,
 'KS0A0A0B2H4I5D': 2,
 'NY241973662150': 2,
 'IAN7ZNYM0RE4LN': 2,
 'DEAAAAAAKATJTH': 1,
 'NM334792899999': 1,
 'IL000051707792': 2,
 'NY250301299150': 2,
 'CA00OJIlR2xCQR': 2,
 'MD100450414383': 1,
 'MA000410058606': 1,
 'CA00ShnqoZF194': 2,
 'MI000013155679': 1,
 'MA000490725755': 2,
 'NV510000804598': 1,
 'ME000006220264': 2,
 'PAYKJWVLQGW5RG': 2,
 'VA218523212219': 2,
 'MO649893072347': 2,
 'NY260577813020': 1,
 'FL121605024501': 1,
 'CA00ENyLG5r5x7': 1,
 'SC000317915530': 1,
 'PR14797037869': 2,
 'CA00CvBGWqy5l0': 2,
 'FL510005680301': 1,
 'MI000005760576': 1,
 'OK002223294202': 1,
 'LAXXXCZGPSHHZS': 2,
 'CA0071wHL5e9OX': 2,
 'CA008pIUbKc10S': 2,
 'WISMOVO0M9LZJH': 1,
 'NY250379717010': 2,
 'CO000226075698': 1,
 'CA002laMK3f7zn': 2,
 'FL520911000059': 1,
 'LAXXXCZGCHAPHI': 1,
 'CA00Srs2eo3HE6': 2,
 'UT000022971898': 2,
 'MI000036506089': 2,
 'VT000000015437': 1,
 'NY262136912030': 2,
 'CA003TVJcQJBDI': 2,
 'FL150307092801': 1,
 'LAXXXCZAGGGOXC': 2,
 'NY260324819120': 1,
 'MI000004498272': 1,

In [35]:
cohort_2.describe()

,responded,FY,RepDate_services,StFIPS,Sex,AmIAKN,Asian,BlkAfrAm,HawaiiPI,White,...,HousEdSv,HlthEdSv,FamSuppSv,MentorSv,SILsv,RmBrdFASv,EducFinaSv,OthrFinaSv,Race,RaceEthn
count,18253.000000,18253.0,18253.000000,18253.000000,18253.000000,18253.000000,18253.000000,18253.000000,18253.000000,18253.000000,...,18253.000000,18253.000000,18253.000000,18253.000000,18253.000000,18253.000000,18253.000000,18253.000000,18253.000000,18253.000000
mean,0.781680,2014.0,201406.193448,23.266203,1.505122,0.047828,0.025201,0.362023,0.014409,0.560894,...,0.382458,0.395168,0.311620,0.231688,0.082562,0.103052,0.133622,0.246699,11.610146,3.912781
std,0.413117,0.0,2.993839,16.358002,0.499987,0.828726,0.815973,0.933927,0.809597,0.942099,...,1.469670,1.470632,1.462279,1.449742,0.629581,1.419919,1.428113,1.452440,29.305791,9.303250
min,0.000000,2014.0,201403.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000
25%,1.000000,2014.0,201403.000000,6.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000
50%,1.000000,2014.0,201409.000000,20.000000,2.000000,0.000000,0.000000,0.000000,0.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,2.000000
75%,1.000000,2014.0,201409.000000,36.000000,2.000000,0.000000,0.000000,1.000000,0.000000,1.000000,...,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,6.000000
max,1.000000,2014.0,201409.000000,72.000000,2.000000,77.000000,77.000000,77.000000,77.000000,77.000000,...,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,99.000000,99.000000

In [36]:
# No NaNs....

dict(cohort_2.isnull().sum())

{'AcSuppSv': 0,
 'AgeMP': 0,
 'AmIAKN': 0,
 'Asian': 0,
 'BlkAfrAm': 0,
 'BudgetSv': 0,
 'CareerSv': 0,
 'DOB': 0,
 'DelinqntSv': 0,
 'EdLevlSv': 0,
 'EducFinaSv': 0,
 'EmplyTrSv': 0,
 'FCStatSv': 0,
 'FY': 0,
 'FamSuppSv': 0,
 'HawaiiPI': 0,
 'HisOrgin': 0,
 'HlthEdSv': 0,
 'HousEdSv': 0,
 'ILNAsv': 0,
 'MentorSv': 0,
 'OthrFinaSv': 0,
 'PSEdSuppSv': 0,
 'Race': 0,
 'RaceDcln': 0,
 'RaceEthn': 0,
 'RaceUnkn': 0,
 'RepDate_outcomes': 0,
 'RepDate_services': 0,
 'RmBrdFASv': 0,
 'SILsv': 0,
 'Sex': 0,
 'SpecEdSv': 0,
 'St': 0,
 'StFCID': 0,
 'StFIPS': 0,
 'TribeSv': 0,
 'White': 0,
 'baseline': 0,
 'children': 0,
 'cnctadult': 0,
 'currenroll': 0,
 'currfte': 0,
 'currpte': 0,
 'educaid': 0,
 'elig19': 0,
 'emplysklls': 0,
 'fy14cohort': 0,
 'highedcert': 0,
 'homeless': 0,
 'incarc': 0,
 'insample': 0,
 'marriage': 0,
 'medicaid': 0,
 'medicalin': 0,
 'mentlhlthin': 0,
 'othrfinas': 0,
 'othrhlthin': 0,
 'outcmdte': 0,
 'outcmfcs': 0,
 'outcmrpt': 0,
 'prescripin': 0,
 'pubfinas': 0,
 'pubfoodas': 0,
 'pubhousas': 0,
 'responded': 0,
 'samplestate': 0,
 'socsecrty': 0,
 'subabuse': 0,
 'wave': 0}

In [37]:
dict(cohort_2.dtypes)

{'AcSuppSv': dtype('int64'),
 'AgeMP': dtype('O'),
 'AmIAKN': dtype('int64'),
 'Asian': dtype('int64'),
 'BlkAfrAm': dtype('int64'),
 'BudgetSv': dtype('int64'),
 'CareerSv': dtype('int64'),
 'DOB': dtype('O'),
 'DelinqntSv': dtype('int64'),
 'EdLevlSv': dtype('O'),
 'EducFinaSv': dtype('int64'),
 'EmplyTrSv': dtype('int64'),
 'FCStatSv': dtype('int64'),
 'FY': dtype('int64'),
 'FamSuppSv': dtype('int64'),
 'HawaiiPI': dtype('int64'),
 'HisOrgin': dtype('int64'),
 'HlthEdSv': dtype('int64'),
 'HousEdSv': dtype('int64'),
 'ILNAsv': dtype('int64'),
 'MentorSv': dtype('int64'),
 'OthrFinaSv': dtype('int64'),
 'PSEdSuppSv': dtype('int64'),
 'Race': dtype('int64'),
 'RaceDcln': dtype('O'),
 'RaceEthn': dtype('int64'),
 'RaceUnkn': dtype('O'),
 'RepDate_outcomes': dtype('O'),
 'RepDate_services': dtype('int64'),
 'RmBrdFASv': dtype('int64'),
 'SILsv': dtype('int64'),
 'Sex': dtype('int64'),
 'SpecEdSv': dtype('int64'),
 'St': dtype('O'),
 'StFCID': dtype('O'),
 'StFIPS': dtype('int64'),
 'TribeSv': dtype('int64'),
 'White': dtype('int64'),
 'baseline': dtype('O'),
 'children': dtype('O'),
 'cnctadult': dtype('O'),
 'currenroll': dtype('O'),
 'currfte': dtype('O'),
 'currpte': dtype('O'),
 'educaid': dtype('O'),
 'elig19': dtype('O'),
 'emplysklls': dtype('O'),
 'fy14cohort': dtype('O'),
 'highedcert': dtype('O'),
 'homeless': dtype('O'),
 'incarc': dtype('O'),
 'insample': dtype('O'),
 'marriage': dtype('O'),
 'medicaid': dtype('O'),
 'medicalin': dtype('O'),
 'mentlhlthin': dtype('O'),
 'othrfinas': dtype('O'),
 'othrhlthin': dtype('O'),
 'outcmdte': dtype('O'),
 'outcmfcs': dtype('O'),
 'outcmrpt': dtype('O'),
 'prescripin': dtype('O'),
 'pubfinas': dtype('O'),
 'pubfoodas': dtype('O'),
 'pubhousas': dtype('O'),
 'responded': dtype('int8'),
 'samplestate': dtype('O'),
 'socsecrty': dtype('O'),
 'subabuse': dtype('O'),
 'wave': dtype('O')}

In [38]:
#Need to convert AgeMP, EduLevlSv, RaceDcln, RaceUnkn to int

cohort_2['AgeMP'] = cohort_2['AgeMP'].apply(lambda x: int(x))
cohort_2['EdLevlSv'] = cohort_2['EdLevlSv'].apply(lambda x: int(x))
cohort_2['RaceDcln'] = cohort_2['RaceDcln'].apply(lambda x: int(x))
cohort_2['RaceUnkn'] = cohort_2['RaceUnkn'].apply(lambda x: int(x))

In [39]:
#Need to convert columns RepDates, DOB, and outcmdte to datetime

cohort_2['DOB'] = cohort_2['DOB'].apply(lambda x: x.zfill(10))

cohort_2.RepDate_outcomes = pd.to_datetime(cohort_2['RepDate_outcomes'], format="%Y%m")
cohort_2.RepDate_services = pd.to_datetime(cohort_2['RepDate_services'], format="%Y%m")
cohort_2.DOB = pd.to_datetime(cohort_2['DOB'])

In [40]:
cohort_2.DOB.value_counts()

1996-12-15    1792
1996-10-15    1682
1997-01-15    1640
1996-11-15    1634
1997-05-15    1557
1997-07-15    1495
1997-02-15    1490
1997-03-15    1472
1997-06-15    1412
1997-04-15    1388
1997-08-15    1353
1997-09-15    1332
1994-02-15       1
1996-08-15       1
1996-06-15       1
1997-10-15       1
1996-01-15       1
1992-08-15       1
Name: DOB, dtype: int64

In [41]:
# Need to address blanks in outcmdte column before converting to datetime....

print cohort_2.outcmdte.value_counts()

def treat_blank_dates2(row_with_string):
    """Find blank dates ("") and convert to value 01/01/1999 (I need to decide what to do with blanks later)."""
    if len(row_with_string) <= 3 :
        return "01/01/1999"
    else:
        return row_with_string

cohort_2['outcmdte'] = cohort_2['outcmdte'].apply(treat_blank_dates2)

print cohort_2.outcmdte.value_counts()

cohort_2.outcmdte = pd.to_datetime(cohort_2['outcmdte'], format="%m/%d/%Y")

              1323
1/22/2014      113
1/7/2014       113
3/24/2014      103
3/26/2014      102
3/31/2014      100
9/23/2014       98
1/14/2014       97
9/30/2014       97
11/14/2013      97
7/31/2014       95
3/25/2014       89
2/11/2014       89
1/2/2014        88
7/16/2014       88
7/2/2014        86
12/11/2013      86
9/24/2014       85
12/17/2013      85
1/29/2014       84
5/29/2014       84
4/23/2014       83
3/20/2014       83
8/6/2014        83
2/26/2014       82
8/19/2014       82
1/10/2014       81
1/9/2014        80
7/30/2014       80
11/27/2013      79
              ...
4/12/2014        5
6/22/2014        4
10/2/2013        4
11/9/2013        4
10/27/2013       4
10/26/2014       4
10/25/2014       4
11/2/2014        4
8/24/2014        4
8/31/2014        4
8/23/2014        4
11/11/2014       4
11/5/2014        4
10/1/2013        4
10/19/2014       4
5/31/2014        3
11/1/2014        3
11/10/2014       3
11/18/2014       2
11/9/2014        2
3/1/2015         2
1/13/2013        2
1/27/2013        2
10/6/2013        2
10/12/2014       2
5/11/2014        1
12/5/2012        1
11/8/2014        1
5/14/2013        1
11/13/2014       1
Name: outcmdte, dtype: int64
01/01/1999    1323
1/22/2014      113
1/7/2014       113
3/24/2014      103
3/26/2014      102
3/31/2014      100
9/23/2014       98
1/14/2014       97
9/30/2014       97
11/14/2013      97
7/31/2014       95
2/11/2014       89
3/25/2014       89
7/16/2014       88
1/2/2014        88
7/2/2014        86
12/11/2013      86
12/17/2013      85
9/24/2014       85
1/29/2014       84
5/29/2014       84
8/6/2014        83
3/20/2014       83
4/23/2014       83
2/26/2014       82
8/19/2014       82
1/10/2014       81
7/30/2014       80
1/9/2014        80
11/27/2013      79
              ...
10/20/2013       5
11/11/2014       4
10/26/2014       4
10/27/2013       4
10/2/2013        4
10/19/2014       4
10/1/2013        4
11/9/2013        4
8/23/2014        4
8/31/2014        4
8/24/2014        4
6/22/2014        4
11/2/2014        4
11/5/2014        4
10/25/2014       4
11/10/2014       3
5/31/2014        3
11/1/2014        3
10/6/2013        2
10/12/2014       2
11/9/2014        2
1/27/2013        2
1/13/2013        2
11/18/2014       2
3/1/2015         2
5/11/2014        1
11/13/2014       1
12/5/2012        1
11/8/2014        1
5/14/2013        1
Name: outcmdte, dtype: int64

In [42]:
dict(cohort_2.dtypes)

{'AcSuppSv': dtype('int64'),
 'AgeMP': dtype('int64'),
 'AmIAKN': dtype('int64'),
 'Asian': dtype('int64'),
 'BlkAfrAm': dtype('int64'),
 'BudgetSv': dtype('int64'),
 'CareerSv': dtype('int64'),
 'DOB': dtype('<M8[ns]'),
 'DelinqntSv': dtype('int64'),
 'EdLevlSv': dtype('int64'),
 'EducFinaSv': dtype('int64'),
 'EmplyTrSv': dtype('int64'),
 'FCStatSv': dtype('int64'),
 'FY': dtype('int64'),
 'FamSuppSv': dtype('int64'),
 'HawaiiPI': dtype('int64'),
 'HisOrgin': dtype('int64'),
 'HlthEdSv': dtype('int64'),
 'HousEdSv': dtype('int64'),
 'ILNAsv': dtype('int64'),
 'MentorSv': dtype('int64'),
 'OthrFinaSv': dtype('int64'),
 'PSEdSuppSv': dtype('int64'),
 'Race': dtype('int64'),
 'RaceDcln': dtype('int64'),
 'RaceEthn': dtype('int64'),
 'RaceUnkn': dtype('int64'),
 'RepDate_outcomes': dtype('<M8[ns]'),
 'RepDate_services': dtype('<M8[ns]'),
 'RmBrdFASv': dtype('int64'),
 'SILsv': dtype('int64'),
 'Sex': dtype('int64'),
 'SpecEdSv': dtype('int64'),
 'St': dtype('O'),
 'StFCID': dtype('O'),
 'StFIPS': dtype('int64'),
 'TribeSv': dtype('int64'),
 'White': dtype('int64'),
 'baseline': dtype('O'),
 'children': dtype('O'),
 'cnctadult': dtype('O'),
 'currenroll': dtype('O'),
 'currfte': dtype('O'),
 'currpte': dtype('O'),
 'educaid': dtype('O'),
 'elig19': dtype('O'),
 'emplysklls': dtype('O'),
 'fy14cohort': dtype('O'),
 'highedcert': dtype('O'),
 'homeless': dtype('O'),
 'incarc': dtype('O'),
 'insample': dtype('O'),
 'marriage': dtype('O'),
 'medicaid': dtype('O'),
 'medicalin': dtype('O'),
 'mentlhlthin': dtype('O'),
 'othrfinas': dtype('O'),
 'othrhlthin': dtype('O'),
 'outcmdte': dtype('<M8[ns]'),
 'outcmfcs': dtype('O'),
 'outcmrpt': dtype('O'),
 'prescripin': dtype('O'),
 'pubfinas': dtype('O'),
 'pubfoodas': dtype('O'),
 'pubhousas': dtype('O'),
 'responded': dtype('int8'),
 'samplestate': dtype('O'),
 'socsecrty': dtype('O'),
 'subabuse': dtype('O'),
 'wave': dtype('O')}

In [43]:
# Depending on tyoe of modeling techniques I will use, 
# I will need to turn the following into numeric categories: 

# wave, OutcmRpt, OutcmFCS, CurrFTE, CurrPTE, EmplySkills, SocSecrty,
# 'EducAid','PubFinAs','PubFoodAs','PubHousAs','OthrFinAs','HighEdCert','CurrenRoll','CnctAdult',
# 'Marriage','Medicaid','OthrHlthIn','MedicalIn','MentlHlthIn','PrescripIn','Baseline','FY11Cohort',
# 'Elig19','SampleState','InSample','Responded'

In [44]:
cohort_2.head()

,wave,RepDate_outcomes,outcmrpt,outcmdte,outcmfcs,currfte,currpte,emplysklls,socsecrty,educaid,...,HlthEdSv,FamSuppSv,MentorSv,SILsv,RmBrdFASv,EducFinaSv,OthrFinaSv,Race,RaceEthn,AgeMP
0,Age 17 Baseline Survey,2014-09-01,participated,2014-05-14,yes,no,yes,no,no,no,...,1,1,1,0,0,0,0,2,2,16
1,Age 17 Baseline Survey,2014-09-01,declined,1999-01-01,yes,blank,blank,blank,blank,blank,...,1,1,1,0,0,0,0,1,1,16
2,Age 17 Baseline Survey,2014-09-01,participated,2014-06-26,yes,no,no,no,no,no,...,1,1,1,0,0,0,0,1,7,16
3,Age 17 Baseline Survey,2014-09-01,participated,2014-09-29,yes,no,no,no,no,no,...,1,0,0,1,0,0,0,1,1,16
4,Age 17 Baseline Survey,2014-09-01,declined,1999-01-01,yes,blank,blank,blank,blank,blank,...,1,1,1,0,0,0,0,1,1,16

In [45]:
cohort_2.describe()

,responded,FY,StFIPS,Sex,AmIAKN,Asian,BlkAfrAm,HawaiiPI,White,RaceUnkn,...,HlthEdSv,FamSuppSv,MentorSv,SILsv,RmBrdFASv,EducFinaSv,OthrFinaSv,Race,RaceEthn,AgeMP
count,18253.000000,18253.0,18253.000000,18253.000000,18253.000000,18253.000000,18253.000000,18253.000000,18253.000000,18253.000000,...,18253.000000,18253.000000,18253.000000,18253.000000,18253.000000,18253.000000,18253.000000,18253.000000,18253.000000,18253.000000
mean,0.781680,2014.0,23.266203,1.505122,0.047828,0.025201,0.362023,0.014409,0.560894,0.026023,...,0.395168,0.311620,0.231688,0.082562,0.103052,0.133622,0.246699,11.610146,3.912781,16.545992
std,0.413117,0.0,16.358002,0.499987,0.828726,0.815973,0.933927,0.809597,0.942099,0.816451,...,1.470632,1.462279,1.449742,0.629581,1.419919,1.428113,1.452440,29.305791,9.303250,0.499322
min,0.000000,2014.0,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,16.000000
25%,1.000000,2014.0,6.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,16.000000
50%,1.000000,2014.0,20.000000,2.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,2.000000,17.000000
75%,1.000000,2014.0,36.000000,2.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,...,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,6.000000,17.000000
max,1.000000,2014.0,72.000000,2.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,...,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,99.000000,99.000000,21.000000

In [46]:
# Now that I have dataset for cohort_1 in a decent state, I will load this into a local postgres DB for storage

In [47]:
cohort_2.to_sql('cohort_2', engine)

In [48]:
%%sql postgresql://cguy@localhost:5432/nytd_clean_data
        
SELECT * FROM cohort_2 LIMIT 5;

5 rows affected.

[(0L, u'Age 17 Baseline Survey', datetime.datetime(2014, 9, 1, 0, 0), u'participated', datetime.datetime(2014, 5, 14, 0, 0), u'yes', u'no', u'yes', u'no', u'no', u'no', u'no', u'no', u'no', u'no', u'none of the above', u'yes', u'yes', u'no', u'no', u'no', u'no', u'not applicable', u'yes', u'no', u'not applicable', u'not applicable', u'not applicable', u'yes', u'yes', u'yes', u'no', u'Not a Sample State', 1L, u'AL000000227321', 2014L, datetime.datetime(2014, 3, 1, 0, 0), 1L, u'AL', datetime.datetime(1997, 4, 15, 0, 0), 1L, 0L, 0L, 1L, 0L, 0L, 0L, 0L, 0L, 1L, 0L, 0L, 9L, 0L, 0L, 1L, 1L, 1L, 1L, 1L, 1L, 1L, 1L, 1L, 0L, 0L, 0L, 0L, 2L, 2L, 16L),
 (1L, u'Age 17 Baseline Survey', datetime.datetime(2014, 9, 1, 0, 0), u'declined', datetime.datetime(1999, 1, 1, 0, 0), u'yes', u'blank', u'blank', u'blank', u'blank', u'blank', u'blank', u'blank', u'blank', u'blank', u'blank', u'blank', u'blank', u'blank', u'blank', u'blank', u'blank', u'blank', u'blank', u'blank', u'blank', u'blank', u'blank', u'yes', u'no', u'no', u'no', u'Not a Sample State', 0L, u'AL000003716611', 2014L, datetime.datetime(2014, 3, 1, 0, 0), 1L, u'AL', datetime.datetime(1997, 4, 15, 0, 0), 1L, 0L, 0L, 0L, 0L, 1L, 0L, 0L, 0L, 1L, 0L, 0L, 0L, 0L, 0L, 1L, 0L, 0L, 0L, 1L, 1L, 1L, 1L, 1L, 0L, 0L, 0L, 0L, 1L, 1L, 16L),
 (2L, u'Age 17 Baseline Survey', datetime.datetime(2014, 9, 1, 0, 0), u'participated', datetime.datetime(2014, 6, 26, 0, 0), u'yes', u'no', u'no', u'no', u'no', u'no', u'no', u'no', u'no', u'no', u'none of the above', u'yes', u'yes', u'no', u'yes', u'no', u'no', u'not applicable', u'yes', u'no', u'not applicable', u'not applicable', u'not applicable', u'yes', u'yes', u'yes', u'no', u'Not a Sample State', 1L, u'AL000008395721', 2014L, datetime.datetime(2014, 3, 1, 0, 0), 1L, u'AL', datetime.datetime(1997, 5, 15, 0, 0), 1L, 0L, 0L, 0L, 0L, 1L, 0L, 0L, 1L, 1L, 0L, 0L, 10L, 0L, 1L, 1L, 1L, 1L, 0L, 1L, 1L, 1L, 1L, 1L, 0L, 0L, 0L, 0L, 1L, 7L, 16L),
 (3L, u'Age 17 Baseline Survey', datetime.datetime(2014, 9, 1, 0, 0), u'participated', datetime.datetime(2014, 9, 29, 0, 0), u'yes', u'no', u'no', u'no', u'no', u'no', u'no', u'no', u'no', u'no', u'none of the above', u'yes', u'yes', u'no', u'yes', u'no', u'no', u'not applicable', u'yes', u'no', u'not applicable', u'not applicable', u'not applicable', u'yes', u'yes', u'yes', u'no', u'Not a Sample State', 1L, u'AL000026713423', 2014L, datetime.datetime(2014, 3, 1, 0, 0), 1L, u'AL', datetime.datetime(1997, 9, 15, 0, 0), 2L, 0L, 0L, 0L, 0L, 1L, 0L, 0L, 2L, 1L, 0L, 0L, 7L, 0L, 0L, 1L, 0L, 0L, 0L, 1L, 0L, 1L, 0L, 0L, 1L, 0L, 0L, 0L, 1L, 1L, 16L),
 (4L, u'Age 17 Baseline Survey', datetime.datetime(2014, 9, 1, 0, 0), u'declined', datetime.datetime(1999, 1, 1, 0, 0), u'yes', u'blank', u'blank', u'blank', u'blank', u'blank', u'blank', u'blank', u'blank', u'blank', u'blank', u'blank', u'blank', u'blank', u'blank', u'blank', u'blank', u'blank', u'blank', u'blank', u'blank', u'blank', u'blank', u'yes', u'no', u'no', u'no', u'Not a Sample State', 0L, u'AL000030924123', 2014L, datetime.datetime(2014, 3, 1, 0, 0), 1L, u'AL', datetime.datetime(1997, 5, 15, 0, 0), 2L, 0L, 0L, 0L, 0L, 1L, 0L, 0L, 0L, 1L, 0L, 0L, 10L, 1L, 0L, 1L, 0L, 1L, 0L, 1L, 1L, 1L, 1L, 1L, 0L, 0L, 0L, 0L, 1L, 1L, 16L)]